openapi: 3.2.0
info:
  version: ''
  contact:
    name: API Support
    url: https://www.mediamath.com/contact-us/
    email: support@mediamath.com
  title: Reporting API V1 Reports API
  description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

    The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

    {% /admonition %}


    {% admonition type="warning" name="Notice about authentication with cookie adama_session" %}

    The use of cookie adama_session for authentication has been discontinued and it''s not supported in Reporting API V2.'
  license:
    url: http://www.apache.org/licenses/LICENSE-2.0.html
    name: Apache 2.0
servers:
- url: https://api.mediamath.com/reporting/v1/std
tags:
- name: Reports
  description: _
paths:
  /app_transparency:
    get:
      operationId: GET_app_transparency
      summary: App Transparency
      tags:
      - Reports
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        See or query the Meta Endpoint for required fields and parameters.'
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema: {}
  /app_transparency/meta:
    get:
      operationId: GET_app_transparency-meta
      summary: App Transparency Meta
      tags:
      - Reports
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema:
                type: object
                properties:
                  Description:
                    type: string
                    description: Standard performance metrics in campaign currency and broken out by our widest array of dimensions.  Available in custom date ranges or intervals with the option to aggregate by day, week, or month.
                  Name:
                    type: string
                    description: Performance Report in Campaign Currency
                  Type:
                    type: string
                  URI_Data:
                    type: string
                    default: https://api.mediamath.com/reporting/v1/std/performance
                  URI_Meta:
                    type: string
                    default: https://api.mediamath.com/reporting/v1/std/performance/meta
                  Version:
                    type: integer
                  currency:
                    type: string
                    description: campaign currency
                  data_retention:
                    type: string
                  default_metrics:
                    type: array
                    items:
                      type: string
                  structure:
                    type: object
                    properties:
                      dimensions:
                        type: object
                        properties:
                          advertiser_id:
                            type: object
                            properties:
                              access:
                                type: boolean
                              name:
                                type: string
                              type:
                                type: string
                          advertiser_name:
                            type: object
                            properties:
                              maxLength:
                                type: integer
                              name:
                                type: string
                              type:
                                type: string
                          agency_id:
                            type: object
                            properties:
                              access:
                                type: boolean
                              name:
                                type: string
                              type:
                                type: string
                          agency_name:
                            type: object
                            properties:
                              maxLength:
                                type: integer
                              name:
                                type: string
                              type:
                                type: string
                          app_id:
                            type: object
                            properties:
                              maxLength:
                                type: integer
                              name:
                                type: string
                              type:
                                type: string
                          attribution_group:
                            type: object
                            properties:
                              maxLength:
                                type: integer
                              name:
                                type: string
                              type:
                                type: string
                              values:
                                type: array
                                items:
                                  type: string
                          campaign_budget:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          campaign_currency_code:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          campaign_end_date:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          campaign_goal_type:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                              values:
                                type: array
                                items:
                                  type: string
                          campaign_goal_value:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          campaign_id:
                            type: object
                            properties:
                              access:
                                type: boolean
                              name:
                                type: string
                              type:
                                type: string
                          campaign_initial_start_date:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          campaign_name:
                            type: object
                            properties:
                              maxLength:
                                type: integer
                              name:
                                type: string
                              type:
                                type: string
                          campaign_start_date:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          campaign_timezone:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          campaign_timezone_code:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          exchange_id:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          exchange_name:
                            type: object
                            properties:
                              maxLength:
                                type: integer
                              name:
                                type: string
                              type:
                                type: string
                          organization_id:
                            type: object
                            properties:
                              access:
                                type: boolean
                              name:
                                type: string
                              type:
                                type: string
                          organization_name:
                            type: object
                            properties:
                              maxLength:
                                type: integer
                              name:
                                type: string
                              type:
                                type: string
                          strategy_budget:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          strategy_channel:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                              values:
                                type: array
                                items:
                                  type: string
                          strategy_end_date:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          strategy_goal_type:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                              values:
                                type: array
                                items:
                                  type: string
                          strategy_goal_value:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          strategy_id:
                            type: object
                            properties:
                              access:
                                type: boolean
                              name:
                                type: string
                              type:
                                type: string
                          strategy_name:
                            type: object
                            properties:
                              maxLength:
                                type: integer
                              name:
                                type: string
                              type:
                                type: string
                          strategy_start_date:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          strategy_supply_type:
                            type: object
                            properties:
                              maxLength:
                                type: integer
                              name:
                                type: string
                              type:
                                type: string
                              values:
                                type: array
                                items:
                                  type: string
                          strategy_type:
                            type: object
                            properties:
                              maxLength:
                                type: integer
                              name:
                                type: string
                              type:
                                type: string
                      metrics:
                        type: object
                        properties:
                          clicks:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          ctc:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          ctr:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          impressions:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          media_cost:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          media_cost_cpa:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          media_cost_cpc:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          media_cost_cpm:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          media_cost_pc_cpa:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          media_cost_pv_cpa:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          post_click_conversions:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          post_view_conversions:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          rr_per_1k_imps:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          total_ad_cost:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          total_ad_cost_cpa:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          total_ad_cost_cpc:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          total_ad_cost_cpm:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          total_ad_cost_pc_cpa:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          total_ad_cost_pv_cpa:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          total_conversions:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          total_spend:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          total_spend_cpa:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          total_spend_cpc:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          total_spend_cpm:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          total_spend_pc_cpa:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          total_spend_pv_cpa:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_close:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_collapse:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_companion_clicks:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_companion_ctr:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_companion_impressions:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_complete:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_complete_rate:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_engaged_impressions:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_engaged_rate:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_expand:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_first_quartile:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_first_quartile_rate:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_fullscreen:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_midpoint:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_midpoint_rate:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_mute:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_pause:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_play_rate:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_resume:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_rewind:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_skip:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_skippable_impressions:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_skipped_impressions:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_skipped_rate:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_start:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_third_quartile:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_third_quartile_rate:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          video_unmute:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                      time_field:
                        type: object
                        properties:
                          date:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                  time_aggregation:
                    type: string
                  time_rollups:
                    type: array
                    items:
                      type: string
                  time_windows:
                    type: array
                    items:
                      type: string
                  timezone:
                    type: string
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        Get App Transparency Meta'
  /brain_feature_summary/meta:
    get:
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema:
                type: object
                properties: {}
      summary: Brain Feature Summary report
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        ## The Brain Feature Summary report


        Sample usage: GET https://api.mediamath.com/reporting/v1/std/brain_feature_summary/meta?v1


        ### Background


        The Brain Feature Summary report provides transparency into how the Brain optimizes.'
      operationId: Generate-Brain-Feature-Summary-report
      tags:
      - Reports
  /brain_feature_value/meta:
    get:
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema:
                type: object
                properties: {}
      summary: Brain Feature Value report
      operationId: Generate-Brain-Feature-Value-report
      tags:
      - Reports
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        ## Brain Feature Value Report


        Sample usage: GET https://api.mediamath.com/reporting/v1/std/brain_feature_value/meta?v1


        ### Background

        The Brain Feature Value report gives you transparency into the top 100 and bottom 100 feature values (e.g.'
  /by_hour:
    get:
      operationId: GET_by_hour
      summary: By Hour
      tags:
      - Reports
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        Standard performance metrics broken out by standard dimensions, available in precise time windows - down to the hour - with the option to aggregate by hour or day.'
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_dimensions'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_metrics'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_filter'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_having'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_rollup'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_window'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_start_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_end_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_order'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_limit'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_offset'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_precision'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_Accept-Encoding_'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_If-Modified-Since'
      responses:
        '200':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_200'
        '304':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_304'
        '400':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_400'
        '401':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_401'
        '403':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_403'
        '404':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_404'
  /by_hour/meta:
    get:
      operationId: GET_by_hour-meta
      summary: By Hour Meta
      tags:
      - Reports
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/full-report-description'
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        Get By Hour Meta'
  /day_part:
    get:
      operationId: GET_day_part
      summary: Day Part
      tags:
      - Reports
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        Standard performance metrics broken out by time of day and day of week. Available in standard intervals.'
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_dimensions'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_metrics'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_filter'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_having'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_rollup'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_window'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_start_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_end_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_order'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_limit'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_offset'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_precision'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_Accept-Encoding_'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_If-Modified-Since'
      responses:
        '200':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_200'
        '304':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_304'
        '400':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_400'
        '401':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_401'
        '403':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_403'
        '404':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_404'
  /day_part/meta:
    get:
      operationId: GET_day_part-meta
      summary: Day Part Meta
      tags:
      - Reports
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/full-report-description'
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        Get Day Part Meta'
  /deals:
    get:
      operationId: GET_deals
      summary: Deals
      tags:
      - Reports
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        See or query the Meta Endpoint for required fields and parameters.


        Background:


        The Deals endpoint contains metrics describing the path from a matched bid opportunity (biddable) to a delivered impression (win) for private marketplace deals. Metrics from this endpoint will allow traders to observe the health of one or more deals. This will allow traders to make a more informed decision about what deals would be an ideal supply source for a particular strategy before committing test budget to it. Additionally, these metrics will help traders troubleshoot strategies targeting PMPs by providing deal win/loss metrics in isolation rather than having them tied to a creative or strategy. This helps traders understand how a deal is affecting their ability to scale more quickly and accurately.


        Update Times:


        This endpoint refreshes at the top of every hour, adding 1 hour of data within every refresh, on a one hour delay. For example, data from 1:00 – 1:59 AM will become available at roughly 3:00 AM.


        Authorization:


        The deals endpoint uses the Private Marketplace Exchange (PMP-E) api for authorization - https://mediamath-pmp.api-docs.io/v1/private-marketplace-exchange-pmp-e/deals. Through the /deals endpoint, users can only receive reporting on deals in which their user is permissioned to the owner entity of the deal. A user permissioned to the owner entity of a deal indicates that the user has both read and write access of the deal.


        To check what deals your user has read and write access to within a particular organization, please make the following get request to the Private Marketplace Exchange API:

        https://api.mediamath.com/media/v1.0/deals?owner.organization_id=[organization_id]


        Required Access Fields


        API calls must filter by the combination of organization id and deal id. Calls can include only one organization id and one to many deal id''s as long as all of the deals belong to the organization. For example:


        filter=organization_id%3D[organization_id]%26deal_id%3D[deal_id]%2C[deal_id]'
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_dimensions'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_metrics'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_filter'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_having'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_rollup'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_window'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_start_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_end_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_order'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_limit'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_offset'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_precision'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_Accept-Encoding_'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_If-Modified-Since'
      responses:
        '200':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_200'
        '304':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_304'
        '400':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_400'
        '401':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_401'
        '403':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_403'
        '404':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_404'
  /deals/meta:
    get:
      operationId: GET_deals-meta
      summary: Deals Meta
      tags:
      - Reports
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema:
                type: object
                properties:
                  Description:
                    type: string
                  Name:
                    type: string
                  Type:
                    type: string
                  URI_Data:
                    type: string
                  URI_Meta:
                    type: string
                  Version:
                    type: integer
                  currency:
                    type: string
                  data_retention:
                    type: string
                  default_metrics:
                    type: array
                    items:
                      type: string
                  structure:
                    type: object
                    properties:
                      dimensions:
                        type: object
                        properties:
                          deal_currency_code:
                            type: object
                            properties:
                              maxLength:
                                type: integer
                              name:
                                type: string
                              type:
                                type: string
                          deal_end_date:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          deal_external_id:
                            type: object
                            properties:
                              maxLength:
                                type: integer
                              name:
                                type: string
                              type:
                                type: string
                          deal_id:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          deal_name:
                            type: object
                            properties:
                              maxLength:
                                type: integer
                              name:
                                type: string
                              type:
                                type: string
                          deal_price:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          deal_price_method:
                            type: object
                            properties:
                              maxLength:
                                type: integer
                              name:
                                type: string
                              type:
                                type: string
                              values:
                                type: array
                                items:
                                  type: string
                          deal_price_type:
                            type: object
                            properties:
                              maxLength:
                                type: integer
                              name:
                                type: string
                              type:
                                type: string
                              values:
                                type: array
                                items:
                                  type: string
                          deal_start_date:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          exchange_id:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          organization_id:
                            type: object
                            properties:
                              access:
                                type: boolean
                              name:
                                type: string
                              type:
                                type: string
                      metrics:
                        type: object
                        properties:
                          bid_rate:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          biddables:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          bids:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          win_rate:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                          wins:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                      time_field:
                        type: object
                        properties:
                          date:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                  time_aggregation:
                    type: string
                  time_rollups:
                    type: array
                    items:
                      type: string
                  time_windows:
                    type: array
                    items:
                      type: string
                  timezone:
                    type: string
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        Get Deals Meta'
  /device_technology:
    get:
      operationId: GET_device_technology
      summary: Device Technology
      tags:
      - Reports
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        Standard performance metrics broken out by technology dimensions including browser, operating system, and connection type. Available in custom date ranges or intervals with the option to aggregate by day, week, or month.


        ## Versions


        The API allows you to determine the version of the Device Technology Report by presenting a query parameter of `?v1` or `?v2`.


        Starting October 3rd, 2017 `v2` reports will include:


        - Device Brand – eg: Apple, Amazon, and Google

        - Device Model – eg: iPhone, Kindle Fire, Pixel

        - Browser Version – eg: Google Chrome

        - OS Version – eg: Windows 10


        This insight will allow you to plan and assess performance based on device and browser, now inclusive of Mobile devices. Please note this release does not include targeting for these fields.


        The `v2` reports will return data starting from September 2nd, 2017. New data will be added to the reports moving forward, accumulating to the full 90 days of data; the max number of days a user is currently able to pull technology report data for.


        * All existing saved/scheduled technology reports in Data Export will continue to pull data from the old reporting framework until November 1st, 2017. However, these reports will no longer be editable, meaning you may only export or deactivate the reports in the interim.

        * Additionally, all currently saved/scheduled technology reports will be **automatically deactivated on November 1st, 2017.**

        * From November 1st, 2017 technology reports will pull data from the `v2` version of the reports by default.

        * From November 1st, 2017 technology reports that query the `v1` version will result in a 304

        * The export will also contain 31 days of data starting from September 2nd, 2017 and accumulate to the full 90 days.


        ## Migration


        After November 1st, any requests to the `device_technology` endpoint that specify removed metrics *will fail with an ''invalid request'' error*. It is strongly recommended that you compare the v1 and v2 definitions of the device technology report /meta endpoint.


        ## Dimensions


        - Added `device_type`

        - Added `os_version`

        - Added `operating_system`

        - Added `inventory_type`

        - Added `device_model`

        - Added `device_make`

        - Added `browser_version`

        - Added `browser`


        - Removed `browser_id`

        - Removed `browser_name`

        - Removed `device_id`

        - Removed `device_name`

        - Removed `inventory_type_id`

        - Removed `inventory_type_name`

        - Removed `os_id`

        - Removed `os_name`


        ## Metrics


        - Added `viewability_rate_100_percent`

        - Added `viewability_rate`

        - Added `in_view`

        - Added `in_view_100_percent`

        - Added `in_view_15_seconds`

        - Added `in_view_15_seconds_rate`

        - Added `in_view_5_seconds`

        - Added `in_view_5_seconds_rate`

        - Added `measurability_rate`

        - Added `measurable`

        - Added `media_cost_vcpm`

        - Added `total_ad_cost_vcpm`

        - Added `total_spend_vcpm`


        ## Time Windows


        - Added `campaign_to_date`'
      parameters:
      - name: v1
        in: query
        description: _
        schema:
          type: string
      - name: v2
        in: query
        description: _
        schema:
          type: string
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_dimensions'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_metrics'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_filter'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_having'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_rollup'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_window'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_start_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_end_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_order'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_limit'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_offset'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_precision'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_Accept-Encoding_'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_If-Modified-Since'
      responses:
        '200':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_200'
        '304':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_304'
        '400':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_400'
        '401':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_401'
        '403':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_403'
        '404':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_404'
  /device_technology/meta:
    get:
      operationId: GET_device_technology-meta
      summary: Device Technology Meta
      tags:
      - Reports
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        ## Versions


        The API allows you to determine the version of the Device Technology Report by presenting a query parameter of `?v1` or `?v2`.


        Starting October 3rd, 2017 `v2` reports will include:


        - Device Brand – eg: Apple, Amazon, and Google

        - Device Model – eg: iPhone, Kindle Fire, Pixel

        - Browser Version – eg: Google Chrome

        - OS Version – eg: Windows 10


        This insight will allow you to plan and assess performance based on device and browser, now inclusive of Mobile devices. Please note this release does not include targeting for these fields.


        Initially, the `v2` reports will only contain 31 days of data starting from September 2nd, 2017. New data will be added to the reports moving forward, accumulating to the full 90 days of data; the max number of days a user is currently able to pull technology report data for.


        * All existing saved/scheduled technology reports in Data Export will continue to pull data from the old reporting framework until November 1st, 2017. However, these reports will no longer be editable, meaning you may only export or deactivate the reports in the interim.

        * Additionally, all currently saved/scheduled technology reports will be **automatically deactivated on November 1st, 2017.**

        * From November 1st, 2017 technology reports will pull data from the `v2` version of the reports by default.

        * The export will also contain 31 days of data starting from September 2nd, 2017 and accumulate to the full 90 days.'
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/full-report-description'
  /geo:
    get:
      operationId: GET_geo
      summary: Geo
      tags:
      - Reports
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_dimensions'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_metrics'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_filter'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_having'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_rollup'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_window'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_start_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_end_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_order'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_limit'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_offset'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_precision'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_Accept-Encoding_'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_If-Modified-Since'
      responses:
        '200':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_200'
        '304':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_304'
        '400':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_400'
        '401':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_401'
        '403':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_403'
        '404':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_404'
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}'
  /geo/meta:
    get:
      operationId: GET_geo-meta
      summary: Geo Meta
      tags:
      - Reports
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        Standard performance metrics broken out by geographic dimensions including country, region, and metro area. Available in standard intervals.'
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/full-report-description'
  /performance:
    get:
      operationId: GET_performance
      summary: Performance
      tags:
      - Reports
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        Standard performance metrics in campaign currency and broken out by our widest array of dimensions. Available in custom date ranges or intervals with the option to aggregate by day, week, or month.'
      parameters:
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_dimensions'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_metrics'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_filter'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_having'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_rollup'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_window'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_start_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_end_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_order'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_limit'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_offset'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_precision'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_Accept-Encoding_'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_If-Modified-Since'
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      responses:
        '200':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_200'
        '304':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_304'
        '400':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_400'
        '401':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_401'
        '403':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_403'
        '404':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_404'
  /performance/meta:
    get:
      operationId: GET_performance-meta
      summary: Performance Meta
      tags:
      - Reports
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/full-report-description'
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        Get Performance Meta'
  /reach_frequency:
    get:
      operationId: GET_reach_frequency
      summary: Reach Frequency
      tags:
      - Reports
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        The Reach and Frequency report measures the number of unique users your ads are reaching and the frequency with which your users see those ads. Use it to monitor your reach, or to understand how the number of ads a customer sees influences their click and conversion behavior.


        # API Endpoints


        The Reach and Frequency Report is available at:


        `$API_BASE/reach_frequency`


        # Important Fields


        ### Report-Specific Fields


        `frequency` - shows the average number of times a unique user saw media from the given strategy or campaign


        `frequency_bin` - provides bins for ranges of frequency values. It’s useful for creating a histogram to show the distribution of frequency, or for analyzing how frequency correlates to performance metrics.


        `uniques` - measures the number of unique users who viewed an impression from the given campaign or strategy. Uniques are identified using cookies, so this number could be slightly overstated if your audience uses many different devices or clears their cookies often.


        NOTE: Uniques and frequencies are only counted for campaigns and strategies. Including advertiser or organization may be useful as metadata, but if you do not include campaign or strategy, uniques will be aggregated without de-duping and your data will be inaccurate. For this reason, you should always include either the campaign or strategy dimensions.


        ### Time Fields


        `reach_frequency` is available as an interval report. It supports four time windows: yesterday, `last_7_days`, `last_14_days`, `last_30_days`, `last_60_days` and `last_90_days`. The only `time_aggregation` available is “all”.


        # Updates


        Data is updated daily. Check the Last-Modified date in the header for more specific timing.'
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_dimensions'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_metrics'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_filter'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_having'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_rollup'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_window'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_start_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_end_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_order'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_limit'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_offset'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_precision'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_Accept-Encoding_'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_If-Modified-Since'
      responses:
        '200':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_200'
        '304':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_304'
        '400':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_400'
        '401':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_401'
        '403':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_403'
        '404':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_404'
  /reach_frequency/meta:
    get:
      operationId: GET_reach_frequency-meta
      summary: Reach Frequency Meta
      tags:
      - Reports
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/full-report-description'
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        Get Reach Frequency Meta'
  /site_transparency:
    get:
      operationId: GET_site_transparency
      summary: Site Transparency
      tags:
      - Reports
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_dimensions'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_metrics'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_filter'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_having'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_rollup'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_window'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_start_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_end_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_order'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_limit'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_offset'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_precision'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_Accept-Encoding_'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_If-Modified-Since'
      responses:
        '200':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_200'
        '304':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_304'
        '400':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_400'
        '401':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_401'
        '403':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_403'
        '404':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_404'
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        Get Site Transparency'
  /site_transparency/meta:
    get:
      operationId: GET_site_transparency-meta
      summary: Site Transparency Meta
      tags:
      - Reports
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        Standard performance metrics broken out by the domain of the inventory. Available in standard intervals.'
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/full-report-description'
  /watermark:
    get:
      operationId: GET_watermark
      summary: Watermark
      tags:
      - Reports
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        Watermark metrics show how many impressions and how much spend went towards the brain''s learning activities. Viewable by campaign and strategy dimensions and available by day.'
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_dimensions'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_metrics'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_filter'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_having'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_rollup'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_window'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_start_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_end_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_order'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_limit'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_offset'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_precision'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_Accept-Encoding_'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_If-Modified-Since'
      responses:
        '200':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_200'
        '304':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_304'
        '400':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_400'
        '401':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_401'
        '403':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_403'
        '404':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_404'
  /watermark/meta:
    get:
      operationId: GET_watermark-meta
      summary: Watermark Meta
      tags:
      - Reports
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/full-report-description'
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        Get Watermark Meta'
  /win_loss:
    get:
      operationId: GET_win_loss
      summary: Win Loss
      tags:
      - Reports
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        Metrics describe the auction before a win or even a bid has taken place. Broken out by strategy, exchange, and deal dimensions and available by hour.'
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_dimensions'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_metrics'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_filter'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_having'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_rollup'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_window'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_start_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_end_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_order'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_limit'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_offset'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_precision'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_Accept-Encoding_'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_If-Modified-Since'
      responses:
        '200':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_200'
        '304':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_304'
        '400':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_400'
        '401':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_401'
        '403':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_403'
        '404':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_404'
  /win_loss/meta:
    get:
      operationId: GET_win_loss-meta
      summary: Win Loss Meta
      tags:
      - Reports
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        Metrics describe the auction before a win or even a bid has taken place. Broken out by strategy, exchange, and deal dimensions and available by hour.'
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/full-report-description'
  /win_loss_creative:
    get:
      operationId: GET_win_loss_creative
      summary: Win/Loss by Creative
      tags:
      - Reports
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        Metrics describe the auction before a win has taken place. Broken out by creative dimensions and available by hour.'
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_dimensions'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_metrics'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_filter'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_having'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_rollup'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_time_window'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_start_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_end_date'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_order'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_limit'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_page_offset'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_precision'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_Accept-Encoding_'
      - $ref: '#/components/parameters/trait_requestsCustomTimeWindow_If-Modified-Since'
      responses:
        '200':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_200'
        '304':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_304'
        '400':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_400'
        '401':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_401'
        '403':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_403'
        '404':
          $ref: '#/components/responses/trait_requestsCustomTimeWindow_404'
  /win_loss_creative/meta:
    get:
      operationId: GET_win_loss_creative-meta
      summary: Win/Loss by Creative Meta
      tags:
      - Reports
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        Metrics describe the auction before a win has taken place. Broken out by creative dimensions and available by hour.'
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/full-report-description'
components:
  parameters:
    trait_requestsCustomTimeWindow_having:
      name: having
      in: query
      description: Controls filtering against metric and dimension fields.  The filtering is performed after row grouping and metric calculation.  See the Predicate Parameters section of <https://apidocs.mediamath.com/apis/reporting-api-v1/data-retrieval/get_report> for more information about interpretation and accepted formats.
      required: false
      schema:
        type: string
    trait_requestsCustomTimeWindow_end_date:
      name: end_date
      in: query
      description: Controls filtering against the time field for the report.  See the Time Field section of <https://apidocs.mediamath.com/apis/reporting-api-v1/metadata/get_report-meta> for more information.
      required: false
      schema:
        type: string
        default: yesterday
    trait_requestsCustomTimeWindow_precision:
      name: precision
      in: query
      description: Controls how many digits to the right of the decimal places to display for float types.
      required: false
      schema:
        type: integer
        minimum: 0
        maximum: 8
        default: 8
    trait_requestsCustomTimeWindow_page_limit:
      name: page_limit
      in: query
      description: 'Controls the maximum number of rows of data.


        This parameter is required, if page_offset is one or greater.'
      required: false
      schema:
        type: integer
        minimum: 1
        default: 100
    trait_requestsCustomTimeWindow_start_date:
      name: start_date
      in: query
      description: Controls filtering against the time field for the report.  See the Time Field section of <https://apidocs.mediamath.com/apis/reporting-api-v1/metadata/get_report-meta> for more information.
      required: true
      schema:
        type: string
    trait_requestsCustomTimeWindow_page_offset:
      name: page_offset
      in: query
      description: Controls how many pages to skip.
      required: false
      schema:
        type: integer
        minimum: 0
    trait_requestsCustomTimeWindow_metrics:
      name: metrics
      in: query
      description: 'Controls the selection of metric fields.


        This should be a comma-separated list of metric field names.


        If not specified, this will default to the metric fields specified by the `default_metrics` property of the <https://apidocs.mediamath.com/apis/reporting-api-v1/metadata/get_report-meta>.


        The position of the fields in the output is not guaranteed to match the parameter value.  Always use the header line from the response body to identify the position of each column in the output.'
      required: false
      schema:
        type: string
    trait_requestsCustomTimeWindow_dimensions:
      name: dimensions
      in: query
      description: 'Selects the dimension fields to use in grouping rows.


        This should be a comma-separated list of dimension field names.


        The position of the fields in the output is not guaranteed to match the parameter value.  Always use the header line from the response body to identify the position of each column in the output.'
      required: true
      schema:
        type: string
    trait_requestsCustomTimeWindow_filter:
      name: filter
      in: query
      description: Controls filtering against dimension fields.  The filtering is performed before row grouping.  See the Predicate Parameters section of <https://apidocs.mediamath.com/apis/reporting-api-v1/data-retrieval/get_report> for more information about interpretation and accepted formats.
      required: true
      schema:
        type: string
    trait_requestsCustomTimeWindow_order:
      name: order
      in: query
      description: 'Controls the sorting of the groups.


        This should be a comma-separated list of field names.  Each field name may optionally be prefixed with a minus sign to indicate descending order.  Otherwise, ascending order is assumed.


        The first field has the most significance in sorting.'
      required: false
      schema:
        type: string
    trait_requestsCustomTimeWindow_Accept-Encoding_:
      name: 'Accept-Encoding:'
      in: header
      description: "If the client supports the compression methods also supported by the server (currently `gzip` and `deflate`), the response data set (`text`\\/`csv`) will be returned in a compressed format. The metadata and error responses will not be compressed.\n\nIn order to receive the data in compressed format, the client must use the HTTP request header `Accept-Encoding`, and enumerate the preferred compression methods (see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html)). If the header `Accept-Encoding` is not present in the request, or if it contains only compression methods not supported by the system, the data will be returned in an uncompressed format.\n\n    ###  request \n    Accept-Encoding: gzip,deflate   \n\n    ###  response  \n    Content-Encoding: gzip \n    Content-Type: text/csv; charset=UTF-8 "
      schema:
        type: string
        enum:
        - gzip,deflate
    trait_requestsCustomTimeWindow_time_window:
      name: time_window
      in: query
      description: Controls filtering against the time field for the report.  See the Time Field section of <https://apidocs.mediamath.com/apis/reporting-api-v1/metadata/get_report-meta> for more information.
      required: true
      schema:
        type: string
    trait_cookieAuth_Cookie:
      name: Cookie
      description: _
      in: header
      required: true
      schema:
        type: string
        default: adama_session=<<sessionid>>
    trait_requestsCustomTimeWindow_time_rollup:
      name: time_rollup
      in: query
      description: The allowed values are specified by the time_rollups report meta property.  See the Time Field section of <https://apidocs.mediamath.com/apis/reporting-api-v1/metadata/get_report-meta> for more information.
      required: true
      schema:
        type: string
    trait_requestsCustomTimeWindow_If-Modified-Since:
      name: If-Modified-Since
      in: header
      description: 'If the data has not changed, the server responds with a 304 Not Modified status code and an empty response body.


        If the same request was issued and the data had been updated since the specified time, the server responds with the data requested and a new Last-Modified header.'
      schema:
        type: string
        format: date-time
  responses:
    trait_requestsCustomTimeWindow_403:
      description: ''
    trait_requestsCustomTimeWindow_401:
      description: ''
    trait_requestsCustomTimeWindow_404:
      description: ''
    trait_requestsCustomTimeWindow_200:
      description: ''
    trait_requestsCustomTimeWindow_400:
      description: ''
    trait_requestsCustomTimeWindow_304:
      description: ''
  schemas:
    brief-report-description:
      title: Brief Report Description
      type: object
      properties:
        Name:
          type: string
          description: This is the human-readable name of the report.  It is not recognized by any API input.
        Version:
          type: integer
          description: This is the version of the report.  See the <https://apidocs.mediamath.com/apis/reporting-api-v1/metadata/get_report-meta> section for more details.
        Description:
          type: string
        URI_Data:
          type: string
          format: uri
          description: This is the URI for the report's <https://apidocs.mediamath.com/apis/reporting-api-v1/data-retrieval/get_report> endpoint.
        URI_Meta:
          type: string
          format: uri
          description: This is the URI for the report's <https://apidocs.mediamath.com/apis/reporting-api-v1/metadata/get_report-meta>.
        Transition:
          type: object
          description: Reports may change over time.  This object will be present if the report will undergo a breaking change.  See the <https://apidocs.mediamath.com/apis/reporting-api-v1/metadata/get_report-meta> section for more details.
          properties:
            replaced_by:
              type: string
              format: uri
              description: The URL where the metadata for the next version of the report may be found.
            transition_date:
              type: string
              format: date-time
              description: After this GMT time the current version of the report will no longer be available.
            next_version:
              type: integer
              description: The version replacing the current version of the report.
          required:
          - replaced_by
          - transition_date
          - next_version
        Deprecation:
          type: object
          description: Reports may be deprecated all together, or superseded by another report.  This object will be present if the report is scheduled for deprecation.   See the <https://apidocs.mediamath.com/apis/reporting-api-v1/metadata/get_report-meta> section for more details.
          properties:
            superseded_by:
              type: string
              format: uri
              description: Optionally provides the metadata URI for the superseding report.
            deprecation_date:
              type: string
              format: date-time
              description: The GMT time when the report will no longer be available.  When a report is past its `deprecation_date` it will no longer appear in the <https://apidocs.mediamath.com/apis/reporting-api-v1/metadata/get_report-meta>.  All endpoints having to do specifically with that report will return a 410 GONE response.
          required:
          - deprecation_date
      required:
      - Name
      - Version
      - URI_Data
      - URI_Meta
      x-stoplight:
        id: k6iyargwoudhr
    full-report-description:
      title: Full Report Description
      allOf:
      - $ref: '#/components/schemas/brief-report-description'
      - type: object
        properties:
          Type:
            type: string
          currency:
            type: string
            description: 'Provides information about the currency of the `metrics` fields typed as "money".


              When set to "campaign currency", the currency varies from record to record.  To determine the currency for a particular record, the campaign_currency_code `dimensions` field should be requested, if available for the report.


              Any other value should be taken to be the currency for all records of the report.'
          data_retention:
            type: string
            description: Indicates how far back data is available.  This can be a date, datetime, or time window as specified by the "time_window" and "Special Time Windows" sections of <https://apidocs.mediamath.com/apis/reporting-api-v1/section/fields>.  This property should be used very loosely.  It may not be accurate.  It is meant to give a general idea.
          default_metrics:
            type: array
            description: This is the list of metrics that will be returned if the `metrics` parameter is not specified in a call to the <https://apidocs.mediamath.com/apis/reporting-api-v1/data-retrieval/get_report>.
            items:
              type: string
          structure:
            type: object
            required:
            - time_field
            - dimensions
            - metrics
            properties:
              time_field:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/field-description'
                description: Mapping of field names seen in <https://apidocs.mediamath.com/apis/reporting-api-v1/section/fields>
              dimensions:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/field-description'
                description: Mapping of field names seen in <https://apidocs.mediamath.com/apis/reporting-api-v1/section/fields>
              metrics:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/field-description'
                description: Mapping of field names seen in <https://apidocs.mediamath.com/apis/reporting-api-v1/section/fields>
          time_aggregation:
            type: string
            description: This property indicates the finest granularity of the `time_field`.  For reports with a `time_field` of the `datetime` type, this will be "by_hour", "by_day", etc.  When the type is `interval`, this will be "various".
          time_rollups:
            type: array
            description: This property indicates the available levels of granularity for the `time_field`.  It lists the valid values of the `time_rollup` parameter used for the <https://apidocs.mediamath.com/apis/reporting-api-v1/data-retrieval/get_report> endpoint.  For reports with a `time_field` of the `datetime` type, this tends to be a combination of "by_hour", "by_day", "by_week", "by_month", "all", etc.  When the type is `interval`, this will only include "all".
            items:
              type: string
          time_windows:
            type: array
            description: Lists the acceptable formats for the `time_window` parameter used by the <https://apidocs.mediamath.com/apis/reporting-api-v1/data-retrieval/get_report>.  Some values may be used as is, others may need to be modified.  For details see the time_window section of  <https://apidocs.mediamath.com/apis/reporting-api-v1/section/fields>.
            items:
              type: string
          timezone:
            type: string
            description: 'Provides information about the timezone of the `time_field` for the report.


              When set to "campaign timezone", the timezone varies from record to record.  To determine the currency for a particular record, the campaign_timezone `dimensions` field should be requested, if available for the report.


              Any other value should be taken to be the timezone for all records of the report.'
        required:
        - default_metrics
        - structure
        - time_rollups
        - time_windows
      x-stoplight:
        id: 8plabb85jgk95
    field-description:
      title: Field Description
      type: object
      properties:
        name:
          type: string
          description: This is the human-readable name of the field.
        type:
          type: string
          enum:
          - float
          - money
          - percent
          - ratio
          - integer
          - count
          - rank
          - datetime
          - string
          - interval
          - id
          - bool
          - boolean
        access:
          type: boolean
          description: This property is applicable to dimension fields only.  Every request must have at least one filter or having predicate against a field with this property set.
        description:
          type: string
        maxLength:
          type: number
          description: This property describes the allowable length for string-typed fields.
        values:
          type: array
          description: Enumerates the possible values that this field may represent.  When using an equality predicate, all predicate values must match one of the enumerated entries.
          items:
            type: string
      required:
      - name
      - type
      x-stoplight:
        id: ay5bipqhvuzoi
  securitySchemes:
    API_Key_-_1:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.mediamath.com/oauth/token
          scopes: {}
x-stoplight:
  id: bmaieg1p7ctvh
