openapi: 3.0.0
info:
  title: Campaigns Ad Servers General API
  description: 'MediaMath Campaign Management API


    [Postman Collection](https://apidocs.mediamath.com/guides/postman-collections)

    '
  version: 3.0.1807
  contact:
    url: https://support.infillion.com/
servers:
- url: https://api.mediamath.com/api/v3.0
  description: Live Server
security:
- Auth0:
  - offline_access
  - manage:services
tags:
- name: General
  description: General
paths:
  /healthcheck:
    get:
      operationId: healthcheck
      summary: Health Check
      description: Health endpoint to check availability
      tags:
      - General
      responses:
        '200':
          $ref: '#/components/responses/health_check'
        '400':
          $ref: '#/components/responses/error'
        '401':
          $ref: '#/components/responses/error'
        '403':
          $ref: '#/components/responses/error'
        '503':
          $ref: '#/components/responses/health_check_503'
  /roles:
    get:
      operationId: list-roles
      summary: List Roles
      description: Get list of roles
      tags:
      - General
      responses:
        '200':
          $ref: '#/components/responses/list_roles'
        '400':
          $ref: '#/components/responses/error'
        '401':
          $ref: '#/components/responses/error'
        '403':
          $ref: '#/components/responses/error'
  /search:
    get:
      operationId: search-entities
      summary: Search Entities
      description: Search organizations, agencies or advertisers by name
      tags:
      - General
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
          default: 10
          maximum: 1000
        required: false
        description: number of elements in the collection to retrieve
      - in: query
        name: name
        schema:
          type: string
        required: true
        description: search term
      - in: query
        name: active_only
        schema:
          type: boolean
        required: false
        description: only show active entities
      - in: query
        name: terminated
        schema:
          type: boolean
        required: false
        description: show terminated entities
      responses:
        '200':
          $ref: '#/components/responses/search_result'
        '400':
          $ref: '#/components/responses/error'
        '401':
          $ref: '#/components/responses/error'
        '403':
          $ref: '#/components/responses/error'
  /target_values:
    get:
      operationId: list-target-values
      summary: List Target Values
      description: Get list of target values
      tags:
      - General
      parameters:
      - in: query
        name: name
        schema:
          type: string
        required: false
        description: Search name
      responses:
        '200':
          $ref: '#/components/responses/list_target_values'
        '400':
          $ref: '#/components/responses/error'
        '401':
          $ref: '#/components/responses/error'
        '403':
          $ref: '#/components/responses/error'
components:
  schemas:
    error_response:
      title: error response
      type: object
      required:
      - errors
      - meta
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              field:
                description: Optional when it is a schema error
                type: string
              message:
                type: string
        meta:
          type: object
          required:
          - status
          properties:
            status:
              type: string
    search_result:
      type: object
      properties:
        id:
          type: integer
        entity_type:
          type: string
        name:
          type: string
    list_metadata:
      title: pagination metadata
      type: object
      properties:
        status:
          type: string
          example: success
          description: The status of the response, indicating success or failure.
        count:
          type: integer
          example: 10
          description: The number of items returned in the current response.
        total_count:
          type: integer
          example: 100
          description: The total number of items available in the dataset.
        offset:
          type: integer
          example: 0
          description: The offset from the start of the dataset, used for pagination.
        next_page:
          type: string
          description: The URL to fetch the next page of results.
        prev_page:
          type: string
          description: The URL to fetch the previous page of results.
      required:
      - status
      - count
  responses:
    list_roles:
      description: List roles response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                nullable: true
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    entity_type:
                      type: string
                    name:
                      type: string
                    must_include:
                      type: array
                      items:
                        type: number
                    must_exclude:
                      type: array
                      items:
                        type: number
              meta:
                $ref: '#/components/schemas/list_metadata'
    search_result:
      description: Search result
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  organizations:
                    type: array
                    items:
                      $ref: '#/components/schemas/search_result'
                  agencies:
                    type: array
                    items:
                      $ref: '#/components/schemas/search_result'
                  advertisers:
                    type: array
                    items:
                      $ref: '#/components/schemas/search_result'
              meta:
                $ref: '#/components/schemas/list_metadata'
    health_check_503:
      description: Health check response if code is 503
      content:
        application/json:
          schema:
            anyOf:
            - type: object
              title: health check response
              properties:
                build_version:
                  type: string
                build_date:
                  type: string
                database_connection:
                  type: boolean
                error:
                  type: string
            - $ref: '#/components/schemas/error_response'
    health_check:
      description: Health check response
      content:
        application/json:
          schema:
            title: health check response
            type: object
            properties:
              build_version:
                type: string
              build_date:
                type: string
              database_connection:
                type: boolean
              latency:
                type: string
                description: 'next format is used: `5 ms` for latency more than 1ms and `5 µs` for latency less than 1ms'
              node_conns:
                type: object
                properties:
                  acquired:
                    type: integer
                  constucting:
                    type: integer
                  idle:
                    type: integer
              node_max_conns:
                type: integer
              node_total_cons:
                type: integer
    list_target_values:
      description: List target values response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                nullable: true
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    dimension_id:
                      type: number
                    dimension_code:
                      type: string
                    parent_value_id:
                      type: number
                    name:
                      type: string
                    value:
                      type: number
                    code:
                      type: string
                    is_targetable:
                      type: boolean
                    full_path:
                      type: string
              meta:
                $ref: '#/components/schemas/list_metadata'
    error:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_response'
  securitySchemes:
    Auth0:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.mediamath.com/authorize
          scopes:
            offline_access: for refresh tokens
            manage:services: normal access
          tokenUrl: https://auth.mediamath.com/oauth/token
          refreshUrl: https://auth.mediamath.com/authorize?scope=offline_access
x-tagGroups:
- name: Hierarchy
  tags:
  - Advertisers
  - Agencies
  - Campaign Plans
  - Campaigns
  - Campaigns Budget Flights
  - New Strategy Plans
  - Organizations
  - Strategies
  - Strategy Parameters
  - Strategy Templates
- name: Targeting
  tags:
  - Segment Groups
  - Targeting
  - Targeting Attachments
  - Targeting Segment Objectives
  - Targeting Segments
- name: Creatives
  tags:
  - Atomic Creatives
  - Concepts
  - Creatives
  - Pixel Bundles
  - Pixel Providers
- name: Vendors & Contracts
  tags:
  - Audience Vendors
  - Contracts
  - Marketplaces
  - Vendor Contracts
  - Vendors
- name: Users & Access
  tags:
  - Enterprise Controls
  - User Permissions
  - Users
- name: Reference Data
  tags:
  - Ad Servers
  - Currency Rates
  - General
  - Sidekick Usage Logs
  - Site Lists
  - Supply Sources
  - Timezones
  - Verticals
