openapi: 3.2.0
info:
  title: Video Creatives IAB Data (V3) API
  description: 'To work with the MediaMath API with Video Creatives, first generate an [authentication token](/guides/authentication).


    For more information on Video Creatives, please see the [Video/VPAID Specification](https://support.infillion.com/article/s/article/Video-Creative-Format-Specs) and [The MediaMath Platform Video/Audio tab](https://support.infillion.com/article/s/article/Video-Audio-Tab).


    *Example HTTPie command to list all video creatives.*

    `http GET https://api.mediamath.com/api/v3.0/atomic_creatives?q==media_type==video`


    ## Migration Notice


    The following V2.0 endpoints are deprecated and replaced by V3.0 equivalents.


    | Deprecated V2.0 Endpoint | Use Instead |

    |---|---|

    | `GET /api/v2.0/atomic_creatives` | `POST /v3.0/creatives/list` |

    | `GET /api/v2.0/atomic_creatives/{atomic_creative_id}` | `GET /v3.0/creatives/{creativeId}` |

    | `POST /video/v2.0/creatives` | `POST /v3.0/creatives` |

    | `GET /video/v2.0/creatives/{video_id}` | `GET /v3.0/creatives/{creativeId}` |

    | `POST /video/v2.0/creatives/{video_id}` | `POST /v3.0/creatives/{creativeId}` or `PATCH /v3.0/creatives/{creativeId}` |

    | `GET /video/v2.0/creatives/{video_id}/companions` | `GET /v3.0/creatives/{creativeId}/companions` |

    | `POST /video/v2.0/creatives/{video_id}/companions` | `POST /v3.0/creatives/{creativeId}/companions` |

    | `GET /video/v2.0/creatives/{video_id}/companions/{companion_id}/delete` | `DELETE /v3.0/creatives/{creativeId}/companions/{companionId}` |

    | `POST /video/v2.0/creatives/{video_id}/upload` | `POST /v3.0/creatives` with the `fileName` field (returns a pre-signed S3 upload URL) |

    | `POST /video/v2.0/creatives/validateVAST` | `POST /v3.0/creatives/validateVAST` |


    See the **Video Creative Management (V3)** section below for the V3.0 API.'
  contact:
    name: API Support
    url: https://support.infillion.com/
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: v1.0
servers:
- url: https://api.mediamath.com
tags:
- name: IAB Data (V3)
  description: 'V3.0 IAB data endpoints. A single pair of endpoints serves all categories

    (`iab_verticals`, `iab_attributes`, `language`). Uses Bearer (JWT) authentication.

    '
paths:
  /v3.0/static_data/{category}:
    get:
      tags:
      - IAB Data (V3)
      summary: Get IAB Data by Category
      description: Retrieve IAB data for a category (e.g., iab_verticals, language, iab_attributes).
      operationId: GET_v3-0-static_data-category
      parameters:
      - name: category
        in: path
        description: Category type (e.g., iab_verticals, language, iab_attributes)
        required: true
        schema:
          type: string
      - name: key
        in: query
        description: Search key for the category
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UIErrorType'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UIErrorType'
  /v3.0/static_data/{category}/{id}:
    get:
      tags:
      - IAB Data (V3)
      summary: Get IAB Data Item by Category and ID
      description: Retrieve a single IAB data item for a category (e.g., iab_verticals, language, iab_attributes).
      operationId: GET_v3-0-static_data-category-id
      parameters:
      - name: category
        in: path
        description: Category type (e.g., iab_verticals, language, iab_attributes)
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: Category ID
        required: true
        schema:
          type: string
      - name: key
        in: query
        description: Search key for the category
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UIErrorType'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UIErrorType'
components:
  schemas:
    UIErrorType:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/UIError'
    UIError:
      type: object
      properties:
        errorCode:
          type: integer
        errorMessage:
          type: string
        reasonCode:
          type: integer
        resource:
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        password:
          tokenUrl: https://auth.mediamath.com
          scopes: {}
