openapi: 3.2.0
info:
  title: Video Creatives IAB Data (V3) API
  description: To work with the MediaMath API with Video Creatives, first generate an authentication token.
  contact:
    name: API Support
    url: https://support.infillion.com/
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: v1.0
servers:
- url: https://api.mediamath.com
tags:
- name: IAB Data (V3)
  description: 'V3.0 IAB data endpoints. A single pair of endpoints serves all categories

    (`iab_verticals`, `iab_attributes`, `language`). Uses Bearer (JWT) authentication.'
paths:
  /v3.0/static_data/{category}:
    get:
      tags:
      - IAB Data (V3)
      summary: Get IAB Data by Category
      description: Retrieve IAB data for a category (e.g., iab_verticals, language, iab_attributes).
      operationId: GET_v3-0-static_data-category
      parameters:
      - name: category
        in: path
        description: Category type (e.g., iab_verticals, language, iab_attributes)
        required: true
        schema:
          type: string
      - name: key
        in: query
        description: Search key for the category
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UIErrorType'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UIErrorType'
  /v3.0/static_data/{category}/{id}:
    get:
      tags:
      - IAB Data (V3)
      summary: Get IAB Data Item by Category and ID
      description: Retrieve a single IAB data item for a category (e.g., iab_verticals, language, iab_attributes).
      operationId: GET_v3-0-static_data-category-id
      parameters:
      - name: category
        in: path
        description: Category type (e.g., iab_verticals, language, iab_attributes)
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: Category ID
        required: true
        schema:
          type: string
      - name: key
        in: query
        description: Search key for the category
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UIErrorType'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UIErrorType'
components:
  schemas:
    UIErrorType:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/UIError'
    UIError:
      type: object
      properties:
        errorCode:
          type: integer
        errorMessage:
          type: string
        reasonCode:
          type: integer
        resource:
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        password:
          tokenUrl: https://auth.mediamath.com
          scopes: {}
