openapi: 3.2.0
info:
  title: Audience Segments Permission Taxonomies API
  description: '{% admonition type="danger" name="This API is deprecated as of 1st August 2026" %}

    The functionality has been built into the V3 Campaign Management API docs which can be found here: https://apidocs.mediamath.com/apis/campaigns-api/openapi

    {% /admonition %}

    Using the Audience Segments API, customers and data providers have control to onboard and activate the data they need to target in MediaMath Platform.'
  contact:
    name: developers@mediamath.com
    url: https://apidocs.mediamath.com
    email: developers@mediamath.com
  license:
    url: http://www.apache.org/licenses/LICENSE-2.0.html
    name: Apache 2.0
  version: '2.0'
servers:
- url: https://api.mediamath.com/dmp/v2.0
security:
- OAuth2: []
tags:
- name: Permission Taxonomies
  description: _
paths:
  /audience_segments:
    post:
      tags:
      - Permission Taxonomies
      summary: Create Permission Taxonomy
      description: To create a new permission taxonomy, submit a POST with the Content-Type set to "application/json".
      operationId: POST_audience_segments
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                permissions:
                  type: object
                  properties:
                    organizations:
                      type: array
                      items:
                        type: integer
                    agencies:
                      type: array
                      items:
                        type: integer
                    advertisers:
                      type: array
                      items:
                        type: integer
                vendor_id:
                  type: integer
                taxonomy:
                  type: object
                  properties:
                    name:
                      type: string
                      description: 'Taxonomy name values should not exceeded 255 characters. '
                    children:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: 'Segment name values should not exceeded 255 characters. '
                          buyable:
                            type: boolean
                          children:
                            type: array
                            items:
                              type: object
                              properties:
                                uniques:
                                  type: integer
                                children:
                                  type: array
                                  items:
                                    type: object
                                name:
                                  type: string
                                retail_cpm:
                                  type: number
                                code:
                                  oneOf:
                                  - type: string
                                  - type: number
                                buyable:
                                  type: boolean
                              required:
                              - name
                              - retail_cpm
                              - code
                              - buyable
                        required:
                        - name
                        - buyable
                    ? ''
                    : type: string
                  required:
                  - name
                  - children
                use_hash:
                  type: boolean
                  description: If you are using a segment code that is not a 32-bit integer, pass an optional parameter use_hash:true as part of the JSON body.
              required:
              - permissions
              - vendor_id
              - taxonomy
              x-examples:
              - permissions:
                  organizations:
                  - 222224
                  - 555554
                  agencies:
                  - 77777
                  - 999997
                  advertisers:
                  - 111112
                  - 111114
                  - 111112
                vendor_id: 111
                taxonomy:
                  name: MediaMath Audiences - Test
                  children:
                  - name: US / Canada
                    buyable: false
                    children:
                    - uniques: 3944066
                      children: []
                      name: Entertainment
                      retail_cpm: 0.85
                      code: segment_id
                      buyable: true
        description: _
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      status:
                        type: string
                  data:
                    type: object
                    properties:
                      permissions:
                        type: object
                        properties:
                          organizations:
                            type: array
                            items:
                              type: integer
                          agencies:
                            type: array
                            items:
                              type: integer
                          advertisers:
                            type: array
                            items:
                              type: integer
                      taxonomy:
                        type: object
                        properties:
                          name:
                            type: string
                          id:
                            type: integer
                          children:
                            type: array
                            items:
                              type: object
                              properties:
                                children:
                                  type: array
                                  items:
                                    type: object
                                name:
                                  type: string
                                retail_cpm:
                                  type: integer
                                id:
                                  type: integer
                                code:
                                  type: string
                                buyable:
                                  type: boolean
                                wholesale_cpm:
                                  type: integer
                                uniques:
                                  type: integer
                      audience_vendor_id:
                        type: integer
                      taxonomy_id:
                        type: integer
                      revenue_share_pct:
                        type: integer
              examples:
                response:
                  value:
                    meta:
                      status: success
                    data:
                      permissions:
                        organizations:
                        - 100048
                        agencies:
                        - 114842
                        - 108108
                        advertisers:
                        - 171177
                        - 141348
                        - 137754
                      created_on: timestamp
                      updated_on: timestamp
                      taxonomy:
                        name: VENDOR_NAME - (Private) – Acme Co Taxonomy
                        id: 1200021
                        children:
                        - uniques: 25000
                          children: []
                          name: Acme Segment 2
                          retail_cpm: 0
                          id: 5551212
                          code: '1234568'
                          buyable: true
                          wholesale_cpm: 0
                        - uniques: 100000
                          children: []
                          name: Acme Segment 1
                          retail_cpm: 0
                          id: 5551211
                          code: '1234567'
                          buyable: true
                          wholesale_cpm: 0
                      vendor_id: 1234
                      taxonomy_id: 127001
      security:
      - OAuth2: []
    get:
      tags:
      - Permission Taxonomies
      summary: List Permission Taxonomies
      description: 'Query parameters should be of the form (field)(operator)(value) where operator can be == (equal to) or =: (like)


        Example: /?q=name=:MediaMath will return segments within your taxonomies that have names like "MediaMath."'
      operationId: GET_audience_segments
      parameters:
      - name: q
        in: query
        description: 'Query String Parameter


          `name==[name]`


          `buyable==[boolean]`'
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Content-Type
        required: true
        schema:
          type: string
      - name: Cookie
        in: header
        description: Cookie
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        audience_vendor_id:
                          type: integer
                        created_by:
                          type:
                          - integer
                          - 'null'
                        created_on:
                          type: string
                          format: date-time
                        revenue_share_pct:
                          type: integer
                        taxonomy:
                          type: object
                          properties:
                            description:
                              type: string
                            id:
                              type: integer
                            name:
                              type: string
                            uniques:
                              type: number
                        taxonomy_id:
                          type: integer
                        updated_by:
                          type:
                          - integer
                          - 'null'
                        updated_on:
                          type: string
                          format: date-time
                        visibility:
                          type: string
                  meta:
                    type: object
                    properties:
                      status:
                        type: string
                      total_count:
                        type: integer
              examples:
                response:
                  value:
                    data:
                    - audience_vendor_id: 123
                      created_by: null
                      created_on: '2018-04-02T11:49:51Z'
                      revenue_share_pct: 77
                      taxonomy:
                        description: Big Time Client [12345]
                        id: 1025958
                        name: Lotame Private - IBM
                      taxonomy_id: 100005
                      updated_by: 24699
                      updated_on: '2019-08-19T20:58:59Z'
                      visibility: RESTRICTED
                    - audience_vendor_id: 1234
                      created_by: 13780
                      created_on: '2019-08-13T20:11:57Z'
                      revenue_share_pct: 30
                      taxonomy:
                        id: 1520107
                        name: Kiosk Audiences - (Private) - Anti-Fraud
                      taxonomy_id: 123456
                      updated_by: null
                      updated_on: '2019-08-13T20:11:57Z'
                      visibility: RESTRICTED
                    - audience_vendor_id: 836
                      created_by: 22345
                      created_on: '2018-02-15T19:56:23Z'
                      revenue_share_pct: 85
                      taxonomy:
                        description: Big Time Client DEV[5432]
                        id: 333038
                        name: Big Time - (Private) - Huge Test Taxonomy
                      taxonomy_id: 100252
                      updated_by: 21212
                      updated_on: '2018-04-12T18:18:22Z'
                      visibility: RESTRICTED
                    meta:
                      status: success
                      total_count: 3
      security:
      - OAuth2: []
  /audience_segments/grants/{vendor_id}:
    get:
      tags:
      - Permission Taxonomies
      summary: Get Permission List
      description: This will retrieve entity IDs in the MediaMath Platform (organizations, agencies and/or advertisers) to which you, as a data provider, have access. To identify entity IDs for your customers and request your grants be updated, reach out to MediaMath Support or ask your client to locate their relevants IDs within the MediaMath Platform Admin section.
      operationId: GET_audience_segments-grants-$vendor_org_id
      parameters:
      - name: vendor_id
        in: path
        description: Your vendor ID, provided by MediaMath partnerships team.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      status:
                        type: string
                  data:
                    type: object
                    properties:
                      organizations:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            id:
                              type: integer
                      agencies:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            id:
                              type: integer
                      advertisers:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            id:
                              type: integer
              examples:
                response:
                  value:
                    meta:
                      status: success
                    data:
                      organizations:
                      - name: Org Name
                        id: 999999
                      agencies:
                      - name: Agency Name 1
                        id: 999999
                      - name: Agency Name 2
                        id: 999999
                      advertisers:
                      - name: Advertiser Name 1
                        id: 999999
                      - name: Advertiser Name 2
                        id: 999999
                      - name: Advertiser Name 3
                        id: 999999
      security:
      - OAuth2: []
  /audience_segments/{taxonomy_id}:
    get:
      tags:
      - Permission Taxonomies
      summary: Get Permission Taxonomy
      description: With a taxonomy ID (obtained by creating a new taxonomy), you can retrieve the taxonomy to review permissions and audience segment details.
      operationId: GET_audience_segments-taxonomy_id
      parameters:
      - name: taxonomy_id
        in: path
        description: taxonomy_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      audience_vendor_id:
                        type: integer
                      created_by:
                        type:
                        - integer
                        - 'null'
                      created_on:
                        type: string
                      is_clearing_house:
                        type: boolean
                      name:
                        type: string
                      permissions:
                        type: object
                        properties:
                          advertisers:
                            type: array
                            items:
                              type: integer
                          agencies:
                            type: array
                            items:
                              type: integer
                          organizations:
                            type: array
                            items:
                              type: integer
                      revenue_share_pct:
                        type: number
                      taxonomy:
                        type: object
                        properties:
                          children:
                            type: array
                            items:
                              type: object
                              properties:
                                buyable:
                                  type: boolean
                                children:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      buyable:
                                        type: boolean
                                      children:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            buyable:
                                              type: boolean
                                            children:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  buyable:
                                                    type: boolean
                                                  children:
                                                    type: array
                                                    items:
                                                      type: object
                                                  code:
                                                    type: string
                                                  description:
                                                    type: string
                                                  id:
                                                    type: integer
                                                  name:
                                                    type: string
                                                  retail_cpm:
                                                    type: number
                                                  uniques:
                                                    type: integer
                                                  wholesale_cpm:
                                                    type: integer
                                            code:
                                              type: string
                                            description:
                                              type: string
                                            id:
                                              type: integer
                                            name:
                                              type: string
                                            retail_cpm:
                                              type: number
                                            uniques:
                                              type: integer
                                            wholesale_cpm:
                                              type: integer
                                      code:
                                        type: string
                                      description:
                                        type: string
                                      id:
                                        type: integer
                                      name:
                                        type: string
                                      retail_cpm:
                                        type: number
                                      uniques:
                                        type: integer
                                      wholesale_cpm:
                                        type: integer
                                code:
                                  type: string
                                description:
                                  type: string
                                id:
                                  type: integer
                                name:
                                  type: string
                                retail_cpm:
                                  type: number
                                uniques:
                                  type: integer
                                wholesale_cpm:
                                  type: number
                          id:
                            type: integer
                          name:
                            type: string
                      taxonomy_id:
                        type: integer
                      updated_by:
                        type: integer
                      updated_on:
                        type: string
                      visibility:
                        type: string
                        enum:
                        - GLOBAL
                        - RESTRICTED
                  meta:
                    type: object
                    properties:
                      status:
                        type: string
              examples:
                response:
                  value:
                    meta:
                      status: success
                    data:
                      permissions:
                        organizations:
                        - 123
                        agencies:
                        - 1232
                        - 123
                        advertisers:
                        - 123
                        - 123
                      created_on: '2018-04-03T15:45:07Z'
                      updated_on: '2018-04-03T15:45:07Z'
                      taxonomy:
                        name: Permission Taxonomy
                        id: 1232
                        children:
                        - children: []
                          name: Root Node Name
                          retail_cpm: 0
                          id: 123
                          code: xxxxx
                          buyable: true
                          wholesale_cpm: 0
                      audience_vendor_id: 123
                      taxonomy_id: 123
                      revenue_share_pct: 50
      security:
      - OAuth2: []
    post:
      tags:
      - Permission Taxonomies
      summary: Update Permission Taxonomy
      description: 'With a taxonomy ID (obtained from creating a new taxonomy), you can update the taxonomy, change permissions, and add or remove audience segments.


        **NOTE: you must always post the entire taxonomy when updating a taxonomy.**


        To ensure that the entire taxonomy is correct, we recommend updates be done as a 3-step process:

        1. GET the existing taxonomy (see example API response with definitions)

        2. Identify & make changes (i.e. add/edit permissions, add/remove leaf nodes, change retail CPMs, etc)

        3. POST the updated taxonomy'
      operationId: POST_audience_segments-taxonomy_id
      parameters:
      - name: taxonomy_id
        in: path
        description: taxonomy_id
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: _
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                audience_vendor_id:
                  type: integer
                permissions:
                  type: object
                  properties:
                    advertisers:
                      type: array
                      items:
                        type: integer
                    agencies:
                      type: array
                      items:
                        type: integer
                    organizations:
                      type: array
                      items:
                        type: integer
                taxonomy:
                  type: object
                  properties:
                    children:
                      type: array
                      items:
                        type: object
                        properties:
                          buyable:
                            type: boolean
                          children:
                            type: array
                            items:
                              type: object
                              properties:
                                buyable:
                                  type: boolean
                                children:
                                  type: array
                                  items:
                                    type: object
                                code:
                                  oneOf:
                                  - type: number
                                  - type: string
                                id:
                                  type: integer
                                name:
                                  type: string
                                retail_cpm:
                                  type: number
                                uniques:
                                  type: number
                                wholesale_cpm:
                                  type: number
                              required:
                              - code
                              - name
                              - retail_cpm
                          id:
                            type: integer
                          name:
                            type: string
                    description:
                      type: string
                    id:
                      type: integer
                  required:
                  - children
                use_hash:
                  type: boolean
                  description: If you are using a segment **code** that is not a 32-bit integer, you'd have to pass an optional parameter *use_hash:true* as part of the JSON body.
                  default: false
              required:
              - audience_vendor_id
              - taxonomy
              x-examples:
              - audience_vendor_id: 1122
                permissions:
                  advertisers:
                  - 123771
                  - 123772
                  agencies:
                  - 123555
                  - 123556
                  organizations:
                  - 123123
                  - 123124
                taxonomy:
                  children:
                  - buyable: false
                    children:
                    - buyable: true
                      children: []
                      code: segment_id
                      id: 100080
                      name: Segment Name
                      retail_cpm: 0.5
                    id: 12233992
                    name: Branch Node Name
                  id: 123991
                  name: VENDOR_NAME - (Private) – Root Node Name
                vendor_id: 123
        description: _
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      audience_vendor_id:
                        type: integer
                      created_by: {}
                      created_on:
                        type: string
                      is_clearing_house:
                        type: boolean
                      name:
                        type: string
                      permissions:
                        type: object
                        properties:
                          advertisers:
                            type: array
                            items:
                              type: integer
                          agencies:
                            type: array
                            items:
                              type: integer
                          organizations:
                            type: array
                            items:
                              type: integer
                      revenue_share_pct:
                        type: number
                      taxonomy:
                        type: object
                        properties:
                          children:
                            type: array
                            items:
                              type: object
                              properties:
                                buyable:
                                  type: boolean
                                children:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      buyable:
                                        type: boolean
                                      children:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            buyable:
                                              type: boolean
                                            children:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  buyable:
                                                    type: boolean
                                                  children:
                                                    type: array
                                                    items:
                                                      type: object
                                                  code:
                                                    type: string
                                                  description:
                                                    type: string
                                                  id:
                                                    type: integer
                                                  name:
                                                    type: string
                                                  retail_cpm:
                                                    type: number
                                                  uniques:
                                                    type: integer
                                                  wholesale_cpm:
                                                    type: integer
                                            code:
                                              type: string
                                            description:
                                              type: string
                                            id:
                                              type: integer
                                            name:
                                              type: string
                                            retail_cpm:
                                              type: number
                                            uniques:
                                              type: integer
                                            wholesale_cpm:
                                              type: integer
                                      code:
                                        type: string
                                      description:
                                        type: string
                                      id:
                                        type: integer
                                      name:
                                        type: string
                                      retail_cpm:
                                        type: number
                                      uniques:
                                        type: integer
                                      wholesale_cpm:
                                        type: number
                                code:
                                  type: string
                                description:
                                  type: string
                                id:
                                  type: integer
                                name:
                                  type: string
                                retail_cpm:
                                  type: number
                                uniques:
                                  type: integer
                                wholesale_cpm:
                                  type: number
                          id:
                            type: integer
                          name:
                            type: string
                      taxonomy_id:
                        type: integer
                      updated_by:
                        type: integer
                      updated_on:
                        type: string
                      visibility:
                        type: string
                        enum:
                        - GLOBAL
                        - RESTRICTED
                  meta:
                    type: object
                    properties:
                      status:
                        type: string
              examples:
                response:
                  value:
                    data:
                      audience_vendor_id: 470
                      created_by: null
                      created_on: '2017-03-22T19:36:05Z'
                      permissions:
                        agencies:
                        - 108108
                        - 114842
                        advertisers:
                        - 171177
                        - 141348
                        - 137754
                        organizations:
                        - 100048
                      revenue_share_pct: 0
                      taxonomy:
                        children:
                        - buyable: false
                          children:
                          - buyable: true
                            children: []
                            code: '1013003'
                            id: 100079
                            name: Entertainment
                            retail_cpm: 0.85
                            uniques: 3944066
                            wholesale_cpm: 0
                          id: 100078
                          name: US / Canada
                        id: 100077
                        name: MediaMath Audiences - Test
                      taxonomy_id: 100001
                      updated_by: 14571
                      updated_on: '2018-06-15T14:55:51Z'
                      visibility: RESTRICTED
                    meta:
                      status: success
      security:
      - OAuth2: []
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        password:
          tokenUrl: https://auth.mediamath.com/oauth/token
          scopes: {}
    Cookie_Auth:
      type: apiKey
      description: 'Cookie: adama_sesion=`cookie-id`. Security: API Key - Please note that adama_cookie support is being deprecated and will be removed in our future v2 API.'
      name: Cookie
      in: header
