openapi: 3.2.0
info:
  contact:
    email: developers@mediamath.com
    name: Support
    url: https://mediamathsupport.force.com/
  description: 'OpenAPI 3.0 spec of the Reporting API.


    > ### Beta datasets

    >

    > Datasets marked as **(beta)** are subject to change or removal without prior notice, and are offered as is with no support.'
  title: Reporting API V2 Datasets API
  version: 1.0.0
servers:
- description: Live Server
  url: https://api.mediamath.com/reporting/v2
security:
- Auth0:
  - offline_access
tags:
- name: Datasets
paths:
  /all-dimensions-and-metrics:
    post:
      description: Standard performance metrics in campaign currency and broken out by our widest array of dimensions.
      requestBody:
        content:
          application/json:
            example:
              fields:
              - campaign_id
              - impressions
              filters:
              - field: organization_id
                op: '='
                value: 123456
              - field: agency_id
                value:
                - 123456
                - 789012
              - field: advertiser_id
                value: 123456
              - field: campaign_name
                op: =~
                value: Test Campaign
              order:
              - desc: false
                field: agg_timestamp
                nulls_last: true
              pagination:
                page_index: 0
                page_size: 100
              rollup: by_day
              time_window: current_day
            schema:
              oneOf:
              - required:
                - time_window
                title: Time Window
              - required:
                - start_time
                title: Date Range
              properties:
                end_time:
                  format: date-time
                  type:
                  - string
                  - 'null'
                fields:
                  items:
                    type: string
                  minItems: 1
                  type: array
                  uniqueItems: true
                filters:
                  items:
                    properties:
                      field:
                        type: string
                      filters:
                        items:
                          properties:
                            field:
                              type: string
                            filters:
                              description: An array of filters. Required if `op` is `and` or `or`.
                              items:
                                type: object
                              type: array
                            op:
                              default: '='
                              description: '* `=`: Equals or contains if `value` is an array

                                * `!=`: Not equals

                                * `>`: Greater than

                                * `>=`: Greater than or equals

                                * `<`: Less than

                                * `<=`: Less than or equals

                                * `=~`: Text contains (case-insensitive)

                                * `and`: All filters must match

                                * `or`: At least one filter must match

                                * `isNull`: Is null

                                * `isNotNull`: Is not null'
                              type: string
                            value:
                              anyOf:
                              - anyOf:
                                - type: integer
                                - type: number
                                - type: string
                                - type: boolean
                              - items:
                                  anyOf:
                                  - type: integer
                                  - type: number
                                  - type: string
                                  - type: boolean
                                type: array
                          type: object
                        minItems: 2
                        type:
                        - array
                        - 'null'
                      op:
                        default: '='
                        description: '* `=`: Equals or contains if `value` is an array

                          * `!=`: Not equals

                          * `>`: Greater than

                          * `>=`: Greater than or equals

                          * `<`: Less than

                          * `<=`: Less than or equals

                          * `=~`: Text contains (case-insensitive)

                          * `and`: All filters must match

                          * `or`: At least one filter must match

                          * `isNull`: Is null

                          * `isNotNull`: Is not null'
                        type: string
                      value:
                        anyOf:
                        - anyOf:
                          - type: integer
                          - type: number
                          - type: string
                          - type: boolean
                        - items:
                            anyOf:
                            - type: integer
                            - type: number
                            - type: string
                            - type: boolean
                          type: array
                    type: object
                  minItems: 1
                  type: array
                full_entities:
                  items:
                    type: string
                  minItems: 1
                  type:
                  - array
                  - 'null'
                  uniqueItems: true
                max_results:
                  description: Maximum number of results to return. Only applicable for streaming responses. No limit if absent or `null`.
                  minimum: 1
                  type:
                  - integer
                  - 'null'
                order:
                  items:
                    properties:
                      desc:
                        default: false
                        type: boolean
                      field:
                        type: string
                      nulls_last:
                        default: false
                        type: boolean
                    required:
                    - field
                    type: object
                  type: array
                pagination:
                  description: Streaming response if absent or `null`, Paginated response otherwise
                  properties:
                    page_index:
                      minimum: 0
                      type: integer
                    page_size:
                      maximum: 10000
                      minimum: 1
                      type: integer
                  type:
                  - object
                  - 'null'
                rollup:
                  type: string
                start_time:
                  format: date-time
                  type: string
                time_window:
                  type: string
                time_zone:
                  description: '**Only in supported datasets:** `campaign`, `UTC` or a time zone name defined in https://www.iana.org/time-zones'
                  type: string
              required:
              - fields
              - filters
              - rollup
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                meta:
                  items_count: 3
                  page_index: 0
                  status: OK
                  total_items_count: 3
                  total_pages: 1
                results:
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 1
                  impressions: 93283
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 2
                  impressions: 474
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 3
                  impressions: 45775
              schema:
                properties:
                  meta:
                    properties:
                      items_count:
                        minimum: 0
                        type: integer
                      page_index:
                        minimum: 0
                        type: integer
                      status:
                        enum:
                        - OK
                        type: string
                      total_items_count:
                        minimum: 0
                        type: integer
                      total_pages:
                        minimum: 0
                        type: integer
                    type: object
                  results:
                    items:
                      type: object
                    type: array
                type: object
            application/jsonl:
              schema:
                $ref: '#/components/schemas/StreamingResponse'
          description: JSON for Paginated, JSONL for Streaming
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request is not valid
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred
      summary: All Dimensions and Metrics
      tags:
      - Datasets
      operationId: postAllDimensionsAndMetrics
      x-operation-id-source: derived
  /brain-feature-summary:
    post:
      description: 'Brain Feature Summary Report


        ### Fields


        | Field | Time Windows | Rollups |

        |-------|---------------|-----------|

        |**Dimensions**|

        |`agg_timestamp`|`yesterday`, `last_X_days`, `month_to_date`|`by_day`|

        |`advertiser_id`

        |Any|Any|

        |`advertiser_name`

        |Any|Any|

        |`agency_id`

        |Any|Any|

        |`agency_name`

        |Any|Any|

        |`campaign_id`

        |Any|Any|

        |`campaign_name`

        |Any|Any|

        |`feature`

        |Any|Any|

        |`index`

        |Any|Any|

        |`model_goal`

        |Any|Any|

        |`organization_id`

        |Any|Any|

        |`organization_name`

        |Any|Any|

        |`position`

        |Any|Any|

        |**Metrics**|


        ### Pageable

        Yes


        ### Time Windows

        `yesterday`, `last_X_days`, `month_to_date`


        ### Rollups

        `by_day`'
      requestBody:
        content:
          application/json:
            example:
              fields:
              - campaign_id
              - impressions
              filters:
              - field: organization_id
                op: '='
                value: 123456
              - field: agency_id
                value:
                - 123456
                - 789012
              - field: advertiser_id
                value: 123456
              - field: campaign_name
                op: =~
                value: Test Campaign
              order:
              - desc: false
                field: agg_timestamp
                nulls_last: true
              pagination:
                page_index: 0
                page_size: 100
              rollup: by_day
              time_window: last_7_days
            schema:
              oneOf:
              - required:
                - time_window
                title: Time Window
              - required:
                - start_time
                title: Date Range
              properties:
                end_time:
                  format: date-time
                  type:
                  - string
                  - 'null'
                fields:
                  items:
                    type: string
                  minItems: 1
                  type: array
                  uniqueItems: true
                filters:
                  items:
                    properties:
                      field:
                        type: string
                      filters:
                        items:
                          properties:
                            field:
                              type: string
                            filters:
                              description: An array of filters. Required if `op` is `and` or `or`.
                              items:
                                type: object
                              type: array
                            op:
                              default: '='
                              description: '* `=`: Equals or contains if `value` is an array

                                * `!=`: Not equals

                                * `>`: Greater than

                                * `>=`: Greater than or equals

                                * `<`: Less than

                                * `<=`: Less than or equals

                                * `=~`: Text contains (case-insensitive)

                                * `and`: All filters must match

                                * `or`: At least one filter must match

                                * `isNull`: Is null

                                * `isNotNull`: Is not null'
                              type: string
                            value:
                              anyOf:
                              - anyOf:
                                - type: integer
                                - type: number
                                - type: string
                                - type: boolean
                              - items:
                                  anyOf:
                                  - type: integer
                                  - type: number
                                  - type: string
                                  - type: boolean
                                type: array
                          type: object
                        minItems: 2
                        type:
                        - array
                        - 'null'
                      op:
                        default: '='
                        description: '* `=`: Equals or contains if `value` is an array

                          * `!=`: Not equals

                          * `>`: Greater than

                          * `>=`: Greater than or equals

                          * `<`: Less than

                          * `<=`: Less than or equals

                          * `=~`: Text contains (case-insensitive)

                          * `and`: All filters must match

                          * `or`: At least one filter must match

                          * `isNull`: Is null

                          * `isNotNull`: Is not null'
                        type: string
                      value:
                        anyOf:
                        - anyOf:
                          - type: integer
                          - type: number
                          - type: string
                          - type: boolean
                        - items:
                            anyOf:
                            - type: integer
                            - type: number
                            - type: string
                            - type: boolean
                          type: array
                    type: object
                  minItems: 1
                  type: array
                full_entities:
                  items:
                    type: string
                  minItems: 1
                  type:
                  - array
                  - 'null'
                  uniqueItems: true
                max_results:
                  description: Maximum number of results to return. Only applicable for streaming responses. No limit if absent or `null`.
                  minimum: 1
                  type:
                  - integer
                  - 'null'
                order:
                  items:
                    properties:
                      desc:
                        default: false
                        type: boolean
                      field:
                        type: string
                      nulls_last:
                        default: false
                        type: boolean
                    required:
                    - field
                    type: object
                  type: array
                pagination:
                  description: Streaming response if absent or `null`, Paginated response otherwise
                  properties:
                    page_index:
                      minimum: 0
                      type: integer
                    page_size:
                      maximum: 10000
                      minimum: 1
                      type: integer
                  type:
                  - object
                  - 'null'
                rollup:
                  type: string
                start_time:
                  format: date-time
                  type: string
                time_window:
                  type: string
                time_zone:
                  description: '**Only in supported datasets:** `campaign`, `UTC` or a time zone name defined in https://www.iana.org/time-zones'
                  type: string
              required:
              - fields
              - filters
              - rollup
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                meta:
                  items_count: 3
                  page_index: 0
                  status: OK
                  total_items_count: 3
                  total_pages: 1
                results:
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 1
                  impressions: 93283
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 2
                  impressions: 474
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 3
                  impressions: 45775
              schema:
                properties:
                  meta:
                    properties:
                      items_count:
                        minimum: 0
                        type: integer
                      page_index:
                        minimum: 0
                        type: integer
                      status:
                        enum:
                        - OK
                        type: string
                      total_items_count:
                        minimum: 0
                        type: integer
                      total_pages:
                        minimum: 0
                        type: integer
                    type: object
                  results:
                    items:
                      type: object
                    type: array
                type: object
            application/jsonl:
              schema:
                $ref: '#/components/schemas/StreamingResponse'
          description: JSON for Paginated, JSONL for Streaming
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request is not valid
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred
      summary: Brain Feature Summary
      tags:
      - Datasets
      operationId: postBrainFeatureSummary
      x-operation-id-source: derived
  /brain-feature-value:
    post:
      description: 'Brain Feature Value Report


        ### Fields


        | Field | Time Windows | Rollups |

        |-------|---------------|-----------|

        |**Dimensions**|

        |`agg_timestamp`|`yesterday`, `last_X_days`, `month_to_date`|`by_day`|

        |`advertiser_id`

        |Any|Any|

        |`advertiser_name`

        |Any|Any|

        |`agency_id`

        |Any|Any|

        |`agency_name`

        |Any|Any|

        |`bid_impact`

        |Any|Any|

        |`campaign_id`

        |Any|Any|

        |`campaign_name`

        |Any|Any|

        |`feature`

        |Any|Any|

        |`feature_report_type`

        |Any|Any|

        |`feature_value`

        |Any|Any|

        |`index`

        |Any|Any|

        |`is_numeric`

        |Any|Any|

        |`mean`

        |Any|Any|

        |`model_goal`

        |Any|Any|

        |`organization_id`

        |Any|Any|

        |`organization_name`

        |Any|Any|

        |`position`

        |Any|Any|

        |**Metrics**|


        ### Pageable

        Yes


        ### Time Windows

        `yesterday`, `last_X_days`, `month_to_date`


        ### Rollups

        `by_day`'
      requestBody:
        content:
          application/json:
            example:
              fields:
              - campaign_id
              - impressions
              filters:
              - field: organization_id
                op: '='
                value: 123456
              - field: agency_id
                value:
                - 123456
                - 789012
              - field: advertiser_id
                value: 123456
              - field: campaign_name
                op: =~
                value: Test Campaign
              order:
              - desc: false
                field: agg_timestamp
                nulls_last: true
              pagination:
                page_index: 0
                page_size: 100
              rollup: by_day
              time_window: last_7_days
            schema:
              oneOf:
              - required:
                - time_window
                title: Time Window
              - required:
                - start_time
                title: Date Range
              properties:
                end_time:
                  format: date-time
                  type:
                  - string
                  - 'null'
                fields:
                  items:
                    type: string
                  minItems: 1
                  type: array
                  uniqueItems: true
                filters:
                  items:
                    properties:
                      field:
                        type: string
                      filters:
                        items:
                          properties:
                            field:
                              type: string
                            filters:
                              description: An array of filters. Required if `op` is `and` or `or`.
                              items:
                                type: object
                              type: array
                            op:
                              default: '='
                              description: '* `=`: Equals or contains if `value` is an array

                                * `!=`: Not equals

                                * `>`: Greater than

                                * `>=`: Greater than or equals

                                * `<`: Less than

                                * `<=`: Less than or equals

                                * `=~`: Text contains (case-insensitive)

                                * `and`: All filters must match

                                * `or`: At least one filter must match

                                * `isNull`: Is null

                                * `isNotNull`: Is not null'
                              type: string
                            value:
                              anyOf:
                              - anyOf:
                                - type: integer
                                - type: number
                                - type: string
                                - type: boolean
                              - items:
                                  anyOf:
                                  - type: integer
                                  - type: number
                                  - type: string
                                  - type: boolean
                                type: array
                          type: object
                        minItems: 2
                        type:
                        - array
                        - 'null'
                      op:
                        default: '='
                        description: '* `=`: Equals or contains if `value` is an array

                          * `!=`: Not equals

                          * `>`: Greater than

                          * `>=`: Greater than or equals

                          * `<`: Less than

                          * `<=`: Less than or equals

                          * `=~`: Text contains (case-insensitive)

                          * `and`: All filters must match

                          * `or`: At least one filter must match

                          * `isNull`: Is null

                          * `isNotNull`: Is not null'
                        type: string
                      value:
                        anyOf:
                        - anyOf:
                          - type: integer
                          - type: number
                          - type: string
                          - type: boolean
                        - items:
                            anyOf:
                            - type: integer
                            - type: number
                            - type: string
                            - type: boolean
                          type: array
                    type: object
                  minItems: 1
                  type: array
                full_entities:
                  items:
                    type: string
                  minItems: 1
                  type:
                  - array
                  - 'null'
                  uniqueItems: true
                max_results:
                  description: Maximum number of results to return. Only applicable for streaming responses. No limit if absent or `null`.
                  minimum: 1
                  type:
                  - integer
                  - 'null'
                order:
                  items:
                    properties:
                      desc:
                        default: false
                        type: boolean
                      field:
                        type: string
                      nulls_last:
                        default: false
                        type: boolean
                    required:
                    - field
                    type: object
                  type: array
                pagination:
                  description: Streaming response if absent or `null`, Paginated response otherwise
                  properties:
                    page_index:
                      minimum: 0
                      type: integer
                    page_size:
                      maximum: 10000
                      minimum: 1
                      type: integer
                  type:
                  - object
                  - 'null'
                rollup:
                  type: string
                start_time:
                  format: date-time
                  type: string
                time_window:
                  type: string
                time_zone:
                  description: '**Only in supported datasets:** `campaign`, `UTC` or a time zone name defined in https://www.iana.org/time-zones'
                  type: string
              required:
              - fields
              - filters
              - rollup
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                meta:
                  items_count: 3
                  page_index: 0
                  status: OK
                  total_items_count: 3
                  total_pages: 1
                results:
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 1
                  impressions: 93283
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 2
                  impressions: 474
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 3
                  impressions: 45775
              schema:
                properties:
                  meta:
                    properties:
                      items_count:
                        minimum: 0
                        type: integer
                      page_index:
                        minimum: 0
                        type: integer
                      status:
                        enum:
                        - OK
                        type: string
                      total_items_count:
                        minimum: 0
                        type: integer
                      total_pages:
                        minimum: 0
                        type: integer
                    type: object
                  results:
                    items:
                      type: object
                    type: array
                type: object
            application/jsonl:
              schema:
                $ref: '#/components/schemas/StreamingResponse'
          description: JSON for Paginated, JSONL for Streaming
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request is not valid
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred
      summary: Brain Feature Value
      tags:
      - Datasets
      operationId: postBrainFeatureValue
      x-operation-id-source: derived
  /day-part:
    post:
      description: Standard performance metrics broken out by time of day and day of week.
      requestBody:
        content:
          application/json:
            example:
              fields:
              - campaign_id
              - impressions
              filters:
              - field: organization_id
                op: '='
                value: 123456
              - field: agency_id
                value:
                - 123456
                - 789012
              - field: advertiser_id
                value: 123456
              - field: campaign_name
                op: =~
                value: Test Campaign
              order:
              - desc: false
                field: agg_timestamp
                nulls_last: true
              pagination:
                page_index: 0
                page_size: 100
              rollup: by_day
              time_window: current_day
            schema:
              oneOf:
              - required:
                - time_window
                title: Time Window
              - required:
                - start_time
                title: Date Range
              properties:
                end_time:
                  format: date-time
                  type:
                  - string
                  - 'null'
                fields:
                  items:
                    type: string
                  minItems: 1
                  type: array
                  uniqueItems: true
                filters:
                  items:
                    properties:
                      field:
                        type: string
                      filters:
                        items:
                          properties:
                            field:
                              type: string
                            filters:
                              description: An array of filters. Required if `op` is `and` or `or`.
                              items:
                                type: object
                              type: array
                            op:
                              default: '='
                              description: '* `=`: Equals or contains if `value` is an array

                                * `!=`: Not equals

                                * `>`: Greater than

                                * `>=`: Greater than or equals

                                * `<`: Less than

                                * `<=`: Less than or equals

                                * `=~`: Text contains (case-insensitive)

                                * `and`: All filters must match

                                * `or`: At least one filter must match

                                * `isNull`: Is null

                                * `isNotNull`: Is not null'
                              type: string
                            value:
                              anyOf:
                              - anyOf:
                                - type: integer
                                - type: number
                                - type: string
                                - type: boolean
                              - items:
                                  anyOf:
                                  - type: integer
                                  - type: number
                                  - type: string
                                  - type: boolean
                                type: array
                          type: object
                        minItems: 2
                        type:
                        - array
                        - 'null'
                      op:
                        default: '='
                        description: '* `=`: Equals or contains if `value` is an array

                          * `!=`: Not equals

                          * `>`: Greater than

                          * `>=`: Greater than or equals

                          * `<`: Less than

                          * `<=`: Less than or equals

                          * `=~`: Text contains (case-insensitive)

                          * `and`: All filters must match

                          * `or`: At least one filter must match

                          * `isNull`: Is null

                          * `isNotNull`: Is not null'
                        type: string
                      value:
                        anyOf:
                        - anyOf:
                          - type: integer
                          - type: number
                          - type: string
                          - type: boolean
                        - items:
                            anyOf:
                            - type: integer
                            - type: number
                            - type: string
                            - type: boolean
                          type: array
                    type: object
                  minItems: 1
                  type: array
                full_entities:
                  items:
                    type: string
                  minItems: 1
                  type:
                  - array
                  - 'null'
                  uniqueItems: true
                max_results:
                  description: Maximum number of results to return. Only applicable for streaming responses. No limit if absent or `null`.
                  minimum: 1
                  type:
                  - integer
                  - 'null'
                order:
                  items:
                    properties:
                      desc:
                        default: false
                        type: boolean
                      field:
                        type: string
                      nulls_last:
                        default: false
                        type: boolean
                    required:
                    - field
                    type: object
                  type: array
                pagination:
                  description: Streaming response if absent or `null`, Paginated response otherwise
                  properties:
                    page_index:
                      minimum: 0
                      type: integer
                    page_size:
                      maximum: 10000
                      minimum: 1
                      type: integer
                  type:
                  - object
                  - 'null'
                rollup:
                  type: string
                start_time:
                  format: date-time
                  type: string
                time_window:
                  type: string
                time_zone:
                  description: '**Only in supported datasets:** `campaign`, `UTC` or a time zone name defined in https://www.iana.org/time-zones'
                  type: string
              required:
              - fields
              - filters
              - rollup
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                meta:
                  items_count: 3
                  page_index: 0
                  status: OK
                  total_items_count: 3
                  total_pages: 1
                results:
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 1
                  impressions: 93283
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 2
                  impressions: 474
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 3
                  impressions: 45775
              schema:
                properties:
                  meta:
                    properties:
                      items_count:
                        minimum: 0
                        type: integer
                      page_index:
                        minimum: 0
                        type: integer
                      status:
                        enum:
                        - OK
                        type: string
                      total_items_count:
                        minimum: 0
                        type: integer
                      total_pages:
                        minimum: 0
                        type: integer
                    type: object
                  results:
                    items:
                      type: object
                    type: array
                type: object
            application/jsonl:
              schema:
                $ref: '#/components/schemas/StreamingResponse'
          description: JSON for Paginated, JSONL for Streaming
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request is not valid
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred
      summary: Day Part
      tags:
      - Datasets
      operationId: postDayPart
      x-operation-id-source: derived
  /deals:
    post:
      description: 'Metrics that describe the path from a matched bid opportunity (biddable) to a delivered impression (win) for private marketplace deals.

        The data is stored in UTC timezone and is available by hour.


        **NOTE: this dataset requires the use of filter `organization_id` with exactly 1 value, and `deal_id` with at least 1 value.**


        ### Fields


        | Field | Time Windows | Rollups |

        |-------|---------------|-----------|

        |**Dimensions**|

        |`agg_timestamp`|`current_day`, `last_X_hours`, `last_X_days`, `yesterday`, `month_to_date`|`by_hour`, `by_day`, `by_week`, `by_month`|

        |`deal_external_id`

        |Any|Any|

        |`deal_group_id`

        |Any|Any|

        |`deal_group_name`

        |Any|Any|

        |`deal_id`

        |Any|Any|

        |`deal_name`

        |Any|Any|

        |`deal_price_type`

        |Any|Any|

        |`deal_publisher_id`

        Deal Publisher ID|Any|Any|

        |`exchange_id`

        |Any|Any|

        |`exchange_name`

        |Any|Any|

        |**Metrics**|

        |`bid_rate`

        |Any|Any|

        |`biddables`

        |Any|Any|

        |`bids`

        |Any|Any|

        |`matches`

        |Any|Any|

        |`win_rate`

        |Any|Any|

        |`wins`

        |Any|Any|


        ### Pageable

        Yes


        ### Time Windows

        `current_day`, `last_X_hours`, `yesterday`, `last_X_days`, `month_to_date`


        ### Rollups

        `all`, `by_hour`, `by_day`, `by_week`, `by_month`


        ### Data Retention / Lookback Window

        1 year'
      requestBody:
        content:
          application/json:
            example:
              fields:
              - campaign_id
              - impressions
              filters:
              - field: organization_id
                op: '='
                value: 123456
              - field: agency_id
                value:
                - 123456
                - 789012
              - field: advertiser_id
                value: 123456
              - field: campaign_name
                op: =~
                value: Test Campaign
              order:
              - desc: false
                field: agg_timestamp
                nulls_last: true
              pagination:
                page_index: 0
                page_size: 100
              rollup: by_hour
              time_window: current_day
            schema:
              oneOf:
              - required:
                - time_window
                title: Time Window
              - required:
                - start_time
                title: Date Range
              properties:
                end_time:
                  format: date-time
                  type:
                  - string
                  - 'null'
                fields:
                  items:
                    type: string
                  minItems: 1
                  type: array
                  uniqueItems: true
                filters:
                  items:
                    properties:
                      field:
                        type: string
                      filters:
                        items:
                          properties:
                            field:
                              type: string
                            filters:
                              description: An array of filters. Required if `op` is `and` or `or`.
                              items:
                                type: object
                              type: array
                            op:
                              default: '='
                              description: '* `=`: Equals or contains if `value` is an array

                                * `!=`: Not equals

                                * `>`: Greater than

                                * `>=`: Greater than or equals

                                * `<`: Less than

                                * `<=`: Less than or equals

                                * `=~`: Text contains (case-insensitive)

                                * `and`: All filters must match

                                * `or`: At least one filter must match

                                * `isNull`: Is null

                                * `isNotNull`: Is not null'
                              type: string
                            value:
                              anyOf:
                              - anyOf:
                                - type: integer
                                - type: number
                                - type: string
                                - type: boolean
                              - items:
                                  anyOf:
                                  - type: integer
                                  - type: number
                                  - type: string
                                  - type: boolean
                                type: array
                          type: object
                        minItems: 2
                        type:
                        - array
                        - 'null'
                      op:
                        default: '='
                        description: '* `=`: Equals or contains if `value` is an array

                          * `!=`: Not equals

                          * `>`: Greater than

                          * `>=`: Greater than or equals

                          * `<`: Less than

                          * `<=`: Less than or equals

                          * `=~`: Text contains (case-insensitive)

                          * `and`: All filters must match

                          * `or`: At least one filter must match

                          * `isNull`: Is null

                          * `isNotNull`: Is not null'
                        type: string
                      value:
                        anyOf:
                        - anyOf:
                          - type: integer
                          - type: number
                          - type: string
                          - type: boolean
                        - items:
                            anyOf:
                            - type: integer
                            - type: number
                            - type: string
                            - type: boolean
                          type: array
                    type: object
                  minItems: 1
                  type: array
                full_entities:
                  items:
                    type: string
                  minItems: 1
                  type:
                  - array
                  - 'null'
                  uniqueItems: true
                max_results:
                  description: Maximum number of results to return. Only applicable for streaming responses. No limit if absent or `null`.
                  minimum: 1
                  type:
                  - integer
                  - 'null'
                order:
                  items:
                    properties:
                      desc:
                        default: false
                        type: boolean
                      field:
                        type: string
                      nulls_last:
                        default: false
                        type: boolean
                    required:
                    - field
                    type: object
                  type: array
                pagination:
                  description: Streaming response if absent or `null`, Paginated response otherwise
                  properties:
                    page_index:
                      minimum: 0
                      type: integer
                    page_size:
                      maximum: 10000
                      minimum: 1
                      type: integer
                  type:
                  - object
                  - 'null'
                rollup:
                  type: string
                start_time:
                  format: date-time
                  type: string
                time_window:
                  type: string
                time_zone:
                  description: '**Only in supported datasets:** `campaign`, `UTC` or a time zone name defined in https://www.iana.org/time-zones'
                  type: string
              required:
              - fields
              - filters
              - rollup
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                meta:
                  items_count: 3
                  page_index: 0
                  status: OK
                  total_items_count: 3
                  total_pages: 1
                results:
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 1
                  impressions: 93283
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 2
                  impressions: 474
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 3
                  impressions: 45775
              schema:
                properties:
                  meta:
                    properties:
                      items_count:
                        minimum: 0
                        type: integer
                      page_index:
                        minimum: 0
                        type: integer
                      status:
                        enum:
                        - OK
                        type: string
                      total_items_count:
                        minimum: 0
                        type: integer
                      total_pages:
                        minimum: 0
                        type: integer
                    type: object
                  results:
                    items:
                      type: object
                    type: array
                type: object
            application/jsonl:
              schema:
                $ref: '#/components/schemas/StreamingResponse'
          description: JSON for Paginated, JSONL for Streaming
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request is not valid
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred
      summary: Deals
      tags:
      - Datasets
      operationId: postDeals
      x-operation-id-source: derived
  /performance:
    post:
      description: 'Standard Aggregated Performance Report in Campaign Currency


        ### Fields


        | Field | Time Windows | Rollups |

        |-------|---------------|-----------|

        |**Dimensions**|

        |`agg_timestamp`|`current_day`, `yesterday`, `last_X_days`, `month_to_date`, `campaign_to_date`|`by_day`, `by_week`, `by_month`|

        |`advertiser_id`

        |Any|Any|

        |`advertiser_name`

        |Any|Any|

        |`agency_id`

        |Any|Any|

        |`agency_name`

        |Any|Any|

        |`campaign_archived`

        |Any|Any|

        |`campaign_conversion_type`

        |Any|Any|

        |`campaign_conversion_variable_minutes`

        |Any|Any|

        |`campaign_created_on`

        Campaign Creation Time|Any|Any|

        |`campaign_currency_code`

        Campaign Currency Code|Any|Any|

        |`campaign_custom_attribution_source`

        |Any|Any|

        |`campaign_dynamic_budget_allocation_type`

        |Any|Any|

        |`campaign_end_date`

        (GMT) Campaign End Date|Any|Any|

        |`campaign_end_date_campaign_tz`

        (CTZ) Campaign End Date|Any|Any|

        |`campaign_frequency_amount`

        Campaign Frequency Amount|Any|Any|

        |`campaign_frequency_interval`

        Campaign Frequency Interval|Any|Any|

        |`campaign_frequency_optimization`

        Campaign Frequency Optimization|Any|Any|

        |`campaign_frequency_type`

        Campaign Frequency Type|Any|Any|

        |`campaign_goal_type`

        |Any|Any|

        |`campaign_goal_value`

        |Any|Any|

        |`campaign_has_custom_attribution`

        |Any|Any|

        |`campaign_id`

        |Any|Any|

        |`campaign_impression_cap_amount`

        |Any|Any|

        |`campaign_impression_cap_automatic`

        |Any|Any|

        |`campaign_impression_cap_type`

        |Any|Any|

        |`campaign_initial_start_date`

        (GMT) Campaign Initial Start Date|Any|Any|

        |`campaign_initial_start_date_campaign_tz`

        (CTZ) Campaign Initial Start Date|Any|Any|

        |`campaign_io_name`

        |Any|Any|

        |`campaign_io_reference_num`

        |Any|Any|

        |`campaign_is_programmatic_guaranteed`

        Campaign Is Programmatic Guaranteed|Any|Any|

        |`campaign_merit_pixel_created_on`

        Pixel Creation Time|Any|Any|

        |`campaign_merit_pixel_eligible`

        |Any|Any|

        |`campaign_merit_pixel_external_identifier`

        |Any|Any|

        |`campaign_merit_pixel_id`

        |Any|Any|

        |`campaign_merit_pixel_name`

        |Any|Any|

        |`campaign_merit_pixel_provider_id`

        |Any|Any|

        |`campaign_merit_pixel_status`

        |Any|Any|

        |`campaign_merit_pixel_tag_type`

        |Any|Any|

        |`campaign_merit_pixel_tags`

        |Any|Any|

        |`campaign_merit_pixel_updated_on`

        Pixel Update Time|Any|Any|

        |`campaign_name`

        |Any|Any|

        |`campaign_pc_window_minutes`

        |Any|Any|

        |`campaign_political`

        |Any|Any|

        |`campaign_pv_pct`

        |Any|Any|

        |`campaign_pv_window_minutes`

        |Any|Any|

        |`campaign_service_type`

        Campaign Service Type, a.k.a.'
      requestBody:
        content:
          application/json:
            example:
              fields:
              - campaign_id
              - impressions
              filters:
              - field: organization_id
                op: '='
                value: 123456
              - field: agency_id
                value:
                - 123456
                - 789012
              - field: advertiser_id
                value: 123456
              - field: campaign_name
                op: =~
                value: Test Campaign
              order:
              - desc: false
                field: agg_timestamp
                nulls_last: true
              pagination:
                page_index: 0
                page_size: 100
              rollup: by_day
              time_window: current_day
            schema:
              oneOf:
              - required:
                - time_window
                title: Time Window
              - required:
                - start_time
                title: Date Range
              properties:
                end_time:
                  format: date-time
                  type:
                  - string
                  - 'null'
                fields:
                  items:
                    type: string
                  minItems: 1
                  type: array
                  uniqueItems: true
                filters:
                  items:
                    properties:
                      field:
                        type: string
                      filters:
                        items:
                          properties:
                            field:
                              type: string
                            filters:
                              description: An array of filters. Required if `op` is `and` or `or`.
                              items:
                                type: object
                              type: array
                            op:
                              default: '='
                              description: '* `=`: Equals or contains if `value` is an array

                                * `!=`: Not equals

                                * `>`: Greater than

                                * `>=`: Greater than or equals

                                * `<`: Less than

                                * `<=`: Less than or equals

                                * `=~`: Text contains (case-insensitive)

                                * `and`: All filters must match

                                * `or`: At least one filter must match

                                * `isNull`: Is null

                                * `isNotNull`: Is not null'
                              type: string
                            value:
                              anyOf:
                              - anyOf:
                                - type: integer
                                - type: number
                                - type: string
                                - type: boolean
                              - items:
                                  anyOf:
                                  - type: integer
                                  - type: number
                                  - type: string
                                  - type: boolean
                                type: array
                          type: object
                        minItems: 2
                        type:
                        - array
                        - 'null'
                      op:
                        default: '='
                        description: '* `=`: Equals or contains if `value` is an array

                          * `!=`: Not equals

                          * `>`: Greater than

                          * `>=`: Greater than or equals

                          * `<`: Less than

                          * `<=`: Less than or equals

                          * `=~`: Text contains (case-insensitive)

                          * `and`: All filters must match

                          * `or`: At least one filter must match

                          * `isNull`: Is null

                          * `isNotNull`: Is not null'
                        type: string
                      value:
                        anyOf:
                        - anyOf:
                          - type: integer
                          - type: number
                          - type: string
                          - type: boolean
                        - items:
                            anyOf:
                            - type: integer
                            - type: number
                            - type: string
                            - type: boolean
                          type: array
                    type: object
                  minItems: 1
                  type: array
                full_entities:
                  items:
                    type: string
                  minItems: 1
                  type:
                  - array
                  - 'null'
                  uniqueItems: true
                max_results:
                  description: Maximum number of results to return. Only applicable for streaming responses. No limit if absent or `null`.
                  minimum: 1
                  type:
                  - integer
                  - 'null'
                order:
                  items:
                    properties:
                      desc:
                        default: false
                        type: boolean
                      field:
                        type: string
                      nulls_last:
                        default: false
                        type: boolean
                    required:
                    - field
                    type: object
                  type: array
                pagination:
                  description: Streaming response if absent or `null`, Paginated response otherwise
                  properties:
                    page_index:
                      minimum: 0
                      type: integer
                    page_size:
                      maximum: 10000
                      minimum: 1
                      type: integer
                  type:
                  - object
                  - 'null'
                rollup:
                  type: string
                start_time:
                  format: date-time
                  type: string
                time_window:
                  type: string
                time_zone:
                  description: '**Only in supported datasets:** `campaign`, `UTC` or a time zone name defined in https://www.iana.org/time-zones'
                  type: string
              required:
              - fields
              - filters
              - rollup
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                meta:
                  items_count: 3
                  page_index: 0
                  status: OK
                  total_items_count: 3
                  total_pages: 1
                results:
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 1
                  impressions: 93283
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 2
                  impressions: 474
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 3
                  impressions: 45775
              schema:
                properties:
                  meta:
                    properties:
                      items_count:
                        minimum: 0
                        type: integer
                      page_index:
                        minimum: 0
                        type: integer
                      status:
                        enum:
                        - OK
                        type: string
                      total_items_count:
                        minimum: 0
                        type: integer
                      total_pages:
                        minimum: 0
                        type: integer
                    type: object
                  results:
                    items:
                      type: object
                    type: array
                type: object
            application/jsonl:
              schema:
                $ref: '#/components/schemas/StreamingResponse'
          description: JSON for Paginated, JSONL for Streaming
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request is not valid
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred
      summary: Performance
      tags:
      - Datasets
      operationId: postPerformance
      x-operation-id-source: derived
  /performance-hourly:
    post:
      description: 'Standard Aggregated Performance Report in Campaign Currency


        ### Fields


        | Field | Time Windows | Rollups |

        |-------|---------------|-----------|

        |**Dimensions**|

        |`agg_timestamp`|`current_day`, `last_X_hours`, `yesterday`, `last_X_days`, `month_to_date`|`by_hour`, `by_day`, `by_week`, `by_month`|

        |`advertiser_id`

        |Any|Any|

        |`advertiser_name`

        |Any|Any|

        |`agency_id`

        |Any|Any|

        |`agency_name`

        |Any|Any|

        |`campaign_archived`

        |Any|Any|

        |`campaign_conversion_type`

        |Any|Any|

        |`campaign_conversion_variable_minutes`

        |Any|Any|

        |`campaign_created_on`

        Campaign Creation Time|Any|Any|

        |`campaign_currency_code`

        Campaign Currency Code|Any|Any|

        |`campaign_custom_attribution_source`

        |Any|Any|

        |`campaign_dynamic_budget_allocation_type`

        |Any|Any|

        |`campaign_end_date`

        (GMT) Campaign End Date|Any|Any|

        |`campaign_end_date_campaign_tz`

        (CTZ) Campaign End Date|Any|Any|

        |`campaign_frequency_amount`

        Campaign Frequency Amount|Any|Any|

        |`campaign_frequency_interval`

        Campaign Frequency Interval|Any|Any|

        |`campaign_frequency_optimization`

        Campaign Frequency Optimization|Any|Any|

        |`campaign_frequency_type`

        Campaign Frequency Type|Any|Any|

        |`campaign_goal_type`

        |Any|Any|

        |`campaign_goal_value`

        |Any|Any|

        |`campaign_has_custom_attribution`

        |Any|Any|

        |`campaign_id`

        |Any|Any|

        |`campaign_impression_cap_amount`

        |Any|Any|

        |`campaign_impression_cap_automatic`

        |Any|Any|

        |`campaign_impression_cap_type`

        |Any|Any|

        |`campaign_initial_start_date`

        (GMT) Campaign Initial Start Date|Any|Any|

        |`campaign_initial_start_date_campaign_tz`

        (CTZ) Campaign Initial Start Date|Any|Any|

        |`campaign_io_name`

        |Any|Any|

        |`campaign_io_reference_num`

        |Any|Any|

        |`campaign_is_programmatic_guaranteed`

        Campaign Is Programmatic Guaranteed|Any|Any|

        |`campaign_merit_pixel_created_on`

        Pixel Creation Time|Any|Any|

        |`campaign_merit_pixel_eligible`

        |Any|Any|

        |`campaign_merit_pixel_external_identifier`

        |Any|Any|

        |`campaign_merit_pixel_id`

        |Any|Any|

        |`campaign_merit_pixel_name`

        |Any|Any|

        |`campaign_merit_pixel_provider_id`

        |Any|Any|

        |`campaign_merit_pixel_status`

        |Any|Any|

        |`campaign_merit_pixel_tag_type`

        |Any|Any|

        |`campaign_merit_pixel_tags`

        |Any|Any|

        |`campaign_merit_pixel_updated_on`

        Pixel Update Time|Any|Any|

        |`campaign_name`

        |Any|Any|

        |`campaign_pc_window_minutes`

        |Any|Any|

        |`campaign_political`

        |Any|Any|

        |`campaign_pv_pct`

        |Any|Any|

        |`campaign_pv_window_minutes`

        |Any|Any|

        |`campaign_service_type`

        Campaign Service Type, a.k.a.'
      requestBody:
        content:
          application/json:
            example:
              fields:
              - campaign_id
              - impressions
              filters:
              - field: organization_id
                op: '='
                value: 123456
              - field: agency_id
                value:
                - 123456
                - 789012
              - field: advertiser_id
                value: 123456
              - field: campaign_name
                op: =~
                value: Test Campaign
              order:
              - desc: false
                field: agg_timestamp
                nulls_last: true
              pagination:
                page_index: 0
                page_size: 100
              rollup: by_hour
              time_window: current_day
            schema:
              oneOf:
              - required:
                - time_window
                title: Time Window
              - required:
                - start_time
                title: Date Range
              properties:
                end_time:
                  format: date-time
                  type:
                  - string
                  - 'null'
                fields:
                  items:
                    type: string
                  minItems: 1
                  type: array
                  uniqueItems: true
                filters:
                  items:
                    properties:
                      field:
                        type: string
                      filters:
                        items:
                          properties:
                            field:
                              type: string
                            filters:
                              description: An array of filters. Required if `op` is `and` or `or`.
                              items:
                                type: object
                              type: array
                            op:
                              default: '='
                              description: '* `=`: Equals or contains if `value` is an array

                                * `!=`: Not equals

                                * `>`: Greater than

                                * `>=`: Greater than or equals

                                * `<`: Less than

                                * `<=`: Less than or equals

                                * `=~`: Text contains (case-insensitive)

                                * `and`: All filters must match

                                * `or`: At least one filter must match

                                * `isNull`: Is null

                                * `isNotNull`: Is not null'
                              type: string
                            value:
                              anyOf:
                              - anyOf:
                                - type: integer
                                - type: number
                                - type: string
                                - type: boolean
                              - items:
                                  anyOf:
                                  - type: integer
                                  - type: number
                                  - type: string
                                  - type: boolean
                                type: array
                          type: object
                        minItems: 2
                        type:
                        - array
                        - 'null'
                      op:
                        default: '='
                        description: '* `=`: Equals or contains if `value` is an array

                          * `!=`: Not equals

                          * `>`: Greater than

                          * `>=`: Greater than or equals

                          * `<`: Less than

                          * `<=`: Less than or equals

                          * `=~`: Text contains (case-insensitive)

                          * `and`: All filters must match

                          * `or`: At least one filter must match

                          * `isNull`: Is null

                          * `isNotNull`: Is not null'
                        type: string
                      value:
                        anyOf:
                        - anyOf:
                          - type: integer
                          - type: number
                          - type: string
                          - type: boolean
                        - items:
                            anyOf:
                            - type: integer
                            - type: number
                            - type: string
                            - type: boolean
                          type: array
                    type: object
                  minItems: 1
                  type: array
                full_entities:
                  items:
                    type: string
                  minItems: 1
                  type:
                  - array
                  - 'null'
                  uniqueItems: true
                max_results:
                  description: Maximum number of results to return. Only applicable for streaming responses. No limit if absent or `null`.
                  minimum: 1
                  type:
                  - integer
                  - 'null'
                order:
                  items:
                    properties:
                      desc:
                        default: false
                        type: boolean
                      field:
                        type: string
                      nulls_last:
                        default: false
                        type: boolean
                    required:
                    - field
                    type: object
                  type: array
                pagination:
                  description: Streaming response if absent or `null`, Paginated response otherwise
                  properties:
                    page_index:
                      minimum: 0
                      type: integer
                    page_size:
                      maximum: 10000
                      minimum: 1
                      type: integer
                  type:
                  - object
                  - 'null'
                rollup:
                  type: string
                start_time:
                  format: date-time
                  type: string
                time_window:
                  type: string
                time_zone:
                  description: '**Only in supported datasets:** `campaign`, `UTC` or a time zone name defined in https://www.iana.org/time-zones'
                  type: string
              required:
              - fields
              - filters
              - rollup
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                meta:
                  items_count: 3
                  page_index: 0
                  status: OK
                  total_items_count: 3
                  total_pages: 1
                results:
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 1
                  impressions: 93283
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 2
                  impressions: 474
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 3
                  impressions: 45775
              schema:
                properties:
                  meta:
                    properties:
                      items_count:
                        minimum: 0
                        type: integer
                      page_index:
                        minimum: 0
                        type: integer
                      status:
                        enum:
                        - OK
                        type: string
                      total_items_count:
                        minimum: 0
                        type: integer
                      total_pages:
                        minimum: 0
                        type: integer
                    type: object
                  results:
                    items:
                      type: object
                    type: array
                type: object
            application/jsonl:
              schema:
                $ref: '#/components/schemas/StreamingResponse'
          description: JSON for Paginated, JSONL for Streaming
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request is not valid
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred
      summary: Performance Hourly
      tags:
      - Datasets
      operationId: postPerformanceHourly
      x-operation-id-source: derived
  /pixel-loads:
    post:
      description: 'Loads and Uniques metrics for `data` and `event` pixels, broken out by referrer and referrer rank, available by day.


        ### Fields


        | Field | Time Windows | Rollups |

        |-------|---------------|-----------|

        |**Dimensions**|

        |`agg_timestamp`|`current_day`, `yesterday`, `last_X_days`, `month_to_date`|`by_day`, `by_week`, `by_month`|

        |`advertiser_id`

        |Any|Any|

        |`advertiser_name`

        |Any|Any|

        |`agency_id`

        |Any|Any|

        |`agency_name`

        |Any|Any|

        |`organization_id`

        |Any|Any|

        |`pixel_cost_cpm`

        |Any|Any|

        |`pixel_cost_cpts`

        |Any|Any|

        |`pixel_cost_pct_cpm`

        |Any|Any|

        |`pixel_created_on`

        Pixel Creation Time|Any|Any|

        |`pixel_currency`

        |Any|Any|

        |`pixel_currency_fixed`

        |Any|Any|

        |`pixel_eligible`

        |Any|Any|

        |`pixel_external_identifier`

        |Any|Any|

        |`pixel_id`

        |Any|Any|

        |`pixel_name`

        |Any|Any|

        |`pixel_pricing`

        |Any|Any|

        |`pixel_provider_created_on`

        |Any|Any|

        |`pixel_provider_execution_by`

        |Any|Any|

        |`pixel_provider_id`

        |Any|Any|

        |`pixel_provider_name`

        |Any|Any|

        |`pixel_provider_provider_tax`

        |Any|Any|

        |`pixel_provider_status`

        |Any|Any|

        |`pixel_provider_taxonomy_file`

        |Any|Any|

        |`pixel_provider_updated_on`

        |Any|Any|

        |`pixel_provider_vendor_id`

        |Any|Any|

        |`pixel_rmx_conversion_minutes`

        |Any|Any|

        |`pixel_rmx_conversion_type`

        |Any|Any|

        |`pixel_rmx_friendly`

        |Any|Any|

        |`pixel_rmx_merit`

        |Any|Any|

        |`pixel_rmx_pc_window_minutes`

        |Any|Any|

        |`pixel_rmx_pv_window_minutes`

        |Any|Any|

        |`pixel_segment_op`

        |Any|Any|

        |`pixel_status`

        |Any|Any|

        |`pixel_tag_type`

        |Any|Any|

        |`pixel_tags`

        |Any|Any|

        |`pixel_type`

        |Any|Any|

        |`pixel_updated_on`

        Pixel Update Time|Any|Any|

        |`provider_id`

        |Any|Any|

        |`referrer`

        |Any|Any|

        |`referrer_rank`

        |Any|Any|

        |**Metrics**|

        |`loads`

        |Any|Any|

        |`uniques`

        |Any|Any|


        ### Pageable

        Yes


        ### Time Windows

        `current_day`, `yesterday`, `last_X_days`, `month_to_date`


        ### Rollups

        `all`, `by_day`, `by_week`, `by_month`


        ### Data Retention / Lookback Window

        90 days'
      requestBody:
        content:
          application/json:
            example:
              fields:
              - campaign_id
              - impressions
              filters:
              - field: organization_id
                op: '='
                value: 123456
              - field: agency_id
                value:
                - 123456
                - 789012
              - field: advertiser_id
                value: 123456
              - field: campaign_name
                op: =~
                value: Test Campaign
              order:
              - desc: false
                field: agg_timestamp
                nulls_last: true
              pagination:
                page_index: 0
                page_size: 100
              rollup: by_day
              time_window: current_day
            schema:
              oneOf:
              - required:
                - time_window
                title: Time Window
              - required:
                - start_time
                title: Date Range
              properties:
                end_time:
                  format: date-time
                  type:
                  - string
                  - 'null'
                fields:
                  items:
                    type: string
                  minItems: 1
                  type: array
                  uniqueItems: true
                filters:
                  items:
                    properties:
                      field:
                        type: string
                      filters:
                        items:
                          properties:
                            field:
                              type: string
                            filters:
                              description: An array of filters. Required if `op` is `and` or `or`.
                              items:
                                type: object
                              type: array
                            op:
                              default: '='
                              description: '* `=`: Equals or contains if `value` is an array

                                * `!=`: Not equals

                                * `>`: Greater than

                                * `>=`: Greater than or equals

                                * `<`: Less than

                                * `<=`: Less than or equals

                                * `=~`: Text contains (case-insensitive)

                                * `and`: All filters must match

                                * `or`: At least one filter must match

                                * `isNull`: Is null

                                * `isNotNull`: Is not null'
                              type: string
                            value:
                              anyOf:
                              - anyOf:
                                - type: integer
                                - type: number
                                - type: string
                                - type: boolean
                              - items:
                                  anyOf:
                                  - type: integer
                                  - type: number
                                  - type: string
                                  - type: boolean
                                type: array
                          type: object
                        minItems: 2
                        type:
                        - array
                        - 'null'
                      op:
                        default: '='
                        description: '* `=`: Equals or contains if `value` is an array

                          * `!=`: Not equals

                          * `>`: Greater than

                          * `>=`: Greater than or equals

                          * `<`: Less than

                          * `<=`: Less than or equals

                          * `=~`: Text contains (case-insensitive)

                          * `and`: All filters must match

                          * `or`: At least one filter must match

                          * `isNull`: Is null

                          * `isNotNull`: Is not null'
                        type: string
                      value:
                        anyOf:
                        - anyOf:
                          - type: integer
                          - type: number
                          - type: string
                          - type: boolean
                        - items:
                            anyOf:
                            - type: integer
                            - type: number
                            - type: string
                            - type: boolean
                          type: array
                    type: object
                  minItems: 1
                  type: array
                full_entities:
                  items:
                    type: string
                  minItems: 1
                  type:
                  - array
                  - 'null'
                  uniqueItems: true
                max_results:
                  description: Maximum number of results to return. Only applicable for streaming responses. No limit if absent or `null`.
                  minimum: 1
                  type:
                  - integer
                  - 'null'
                order:
                  items:
                    properties:
                      desc:
                        default: false
                        type: boolean
                      field:
                        type: string
                      nulls_last:
                        default: false
                        type: boolean
                    required:
                    - field
                    type: object
                  type: array
                pagination:
                  description: Streaming response if absent or `null`, Paginated response otherwise
                  properties:
                    page_index:
                      minimum: 0
                      type: integer
                    page_size:
                      maximum: 10000
                      minimum: 1
                      type: integer
                  type:
                  - object
                  - 'null'
                rollup:
                  type: string
                start_time:
                  format: date-time
                  type: string
                time_window:
                  type: string
                time_zone:
                  description: '**Only in supported datasets:** `campaign`, `UTC` or a time zone name defined in https://www.iana.org/time-zones'
                  type: string
              required:
              - fields
              - filters
              - rollup
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                meta:
                  items_count: 3
                  page_index: 0
                  status: OK
                  total_items_count: 3
                  total_pages: 1
                results:
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 1
                  impressions: 93283
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 2
                  impressions: 474
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 3
                  impressions: 45775
              schema:
                properties:
                  meta:
                    properties:
                      items_count:
                        minimum: 0
                        type: integer
                      page_index:
                        minimum: 0
                        type: integer
                      status:
                        enum:
                        - OK
                        type: string
                      total_items_count:
                        minimum: 0
                        type: integer
                      total_pages:
                        minimum: 0
                        type: integer
                    type: object
                  results:
                    items:
                      type: object
                    type: array
                type: object
            application/jsonl:
              schema:
                $ref: '#/components/schemas/StreamingResponse'
          description: JSON for Paginated, JSONL for Streaming
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request is not valid
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred
      summary: Pixel Loads
      tags:
      - Datasets
      operationId: postPixelLoads
      x-operation-id-source: derived
  /reach-frequency:
    post:
      description: Basic performance metrics as well as the "uniques" metric, broken out by frequency of ad exposure.
      requestBody:
        content:
          application/json:
            example:
              fields:
              - campaign_id
              - impressions
              filters:
              - field: organization_id
                op: '='
                value: 123456
              - field: agency_id
                value:
                - 123456
                - 789012
              - field: advertiser_id
                value: 123456
              - field: campaign_name
                op: =~
                value: Test Campaign
              order:
              - desc: false
                field: campaign_id
                nulls_last: true
              pagination:
                page_index: 0
                page_size: 100
              rollup: all
              time_window: last_7_days
            schema:
              properties:
                fields:
                  items:
                    type: string
                  minItems: 1
                  type: array
                  uniqueItems: true
                filters:
                  items:
                    properties:
                      field:
                        type: string
                      filters:
                        items:
                          properties:
                            field:
                              type: string
                            filters:
                              description: An array of filters. Required if `op` is `and` or `or`.
                              items:
                                type: object
                              type: array
                            op:
                              default: '='
                              description: '* `=`: Equals or contains if `value` is an array

                                * `!=`: Not equals

                                * `>`: Greater than

                                * `>=`: Greater than or equals

                                * `<`: Less than

                                * `<=`: Less than or equals

                                * `=~`: Text contains (case-insensitive)

                                * `and`: All filters must match

                                * `or`: At least one filter must match

                                * `isNull`: Is null

                                * `isNotNull`: Is not null'
                              type: string
                            value:
                              anyOf:
                              - anyOf:
                                - type: integer
                                - type: number
                                - type: string
                                - type: boolean
                              - items:
                                  anyOf:
                                  - type: integer
                                  - type: number
                                  - type: string
                                  - type: boolean
                                type: array
                          type: object
                        minItems: 2
                        type:
                        - array
                        - 'null'
                      op:
                        default: '='
                        description: '* `=`: Equals or contains if `value` is an array

                          * `!=`: Not equals

                          * `>`: Greater than

                          * `>=`: Greater than or equals

                          * `<`: Less than

                          * `<=`: Less than or equals

                          * `=~`: Text contains (case-insensitive)

                          * `and`: All filters must match

                          * `or`: At least one filter must match

                          * `isNull`: Is null

                          * `isNotNull`: Is not null'
                        type: string
                      value:
                        anyOf:
                        - anyOf:
                          - type: integer
                          - type: number
                          - type: string
                          - type: boolean
                        - items:
                            anyOf:
                            - type: integer
                            - type: number
                            - type: string
                            - type: boolean
                          type: array
                    type: object
                  minItems: 1
                  type: array
                full_entities:
                  items:
                    type: string
                  minItems: 1
                  type:
                  - array
                  - 'null'
                  uniqueItems: true
                max_results:
                  description: Maximum number of results to return. Only applicable for streaming responses. No limit if absent or `null`.
                  minimum: 1
                  type:
                  - integer
                  - 'null'
                order:
                  items:
                    properties:
                      desc:
                        default: false
                        type: boolean
                      field:
                        type: string
                      nulls_last:
                        default: false
                        type: boolean
                    required:
                    - field
                    type: object
                  type: array
                pagination:
                  description: Streaming response if absent or `null`, Paginated response otherwise
                  properties:
                    page_index:
                      minimum: 0
                      type: integer
                    page_size:
                      maximum: 10000
                      minimum: 1
                      type: integer
                  type:
                  - object
                  - 'null'
                rollup:
                  type: string
                time_window:
                  type: string
                time_zone:
                  description: '**Only in supported datasets:** `campaign`, `UTC` or a time zone name defined in https://www.iana.org/time-zones'
                  type: string
              required:
              - fields
              - filters
              - rollup
              - time_window
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                meta:
                  items_count: 3
                  page_index: 0
                  status: OK
                  total_items_count: 3
                  total_pages: 1
                results:
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 1
                  impressions: 93283
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 2
                  impressions: 474
                - agg_timestamp: '2023-07-27T12:00:00Z'
                  campaign_id: 3
                  impressions: 45775
              schema:
                properties:
                  meta:
                    properties:
                      items_count:
                        minimum: 0
                        type: integer
                      page_index:
                        minimum: 0
                        type: integer
                      status:
                        enum:
                        - OK
                        type: string
                      total_items_count:
                        minimum: 0
                        type: integer
                      total_pages:
                        minimum: 0
                        type: integer
                    type: object
                  results:
                    items:
                      type: object
                    type: array
                type: object
            application/jsonl:
              schema:
                $ref: '#/components/schemas/StreamingResponse'
          description: JSON for Paginated, JSONL for Streaming
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The request is not valid
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred
      summary: Reach and Frequency
      tags:
      - Datasets
      operationId: postReachFrequency
      x-operation-id-source: derived
  /win-loss:
    post:
      description: Metrics describe the auction before a win or even a bid has taken place.
      requestBody:
        content:
          application/json:
            example:
              fields:
              - campaign_id
              - impressions
              filters:
              - field: organization_id
                op: '='
                value: 123456
              - field: agency_id
                value:
                - 123456
                - 789012
              - field: advertiser_id
                value: 123456
              - field: campaign_name
                op: =~
                value: Test Campaign
              order:
              - desc: false
                field: agg_timestamp
                nulls_last: true
              pagination:
                page_index: 0
                page_size: 100
              rollup: by_hour
              time_window: current_day
            schema:
              oneOf:
              - required:
                - time_window
                title: Time Window
              - required:
                - start_time
                title: Date Range
              properties:
                end_time:
                  format: date-time
                  type:
                  - string
                  - 'null'
                fields:
                  items:
                    type: string
                  minItems: 1
                  type: array
                  uniqueItems: true
                filters:
                  items:
                    properties:
                      field:
                        type: string
                      filters:
                        items:
                          properties:
                            field:
                              type: string
                            filters:
                              description: An array of filters. Required if `op` is `and` or `or`.
                              items:
                                type: object
                              type: array
                            op:
                              default: '='
[...]
