openapi: 3.2.0
info:
  version: ''
  contact:
    name: API Support
    url: https://www.mediamath.com/contact-us/
    email: support@mediamath.com
  title: Reporting API V1 Metadata API
  description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

    The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

    {% /admonition %}


    {% admonition type="warning" name="Notice about authentication with cookie adama_session" %}

    The use of cookie adama_session for authentication has been discontinued and it''s not supported in Reporting API V2.'
  license:
    url: http://www.apache.org/licenses/LICENSE-2.0.html
    name: Apache 2.0
servers:
- url: https://api.mediamath.com/reporting/v1/std
tags:
- name: Metadata
  description: _
paths:
  /meta:
    get:
      operationId: GET_meta
      summary: Reports List
      tags:
      - Metadata
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        In order to obtain a list of reports which are currently supported by the Reports API, issue the following API call:


        `$API_BASE/meta`


        All metadata in Reports API is represented in JSON format (content-type: application/json; charset=UTF-8).'
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/reports-list'
  /{report}/meta:
    parameters:
    - name: report
      in: path
      description: "{% admonition type=\"danger\" name=\"This API is deprecated and will be removed in July 2026\" %}\n  The new API docs can be found here: [https://apidocs.mediamath.com/apis/reporting-api](https://apidocs.mediamath.com/apis/reporting-api)\n{% /admonition %}\n\nThis must be a report discoverable from https://apidocs.mediamath.com/apis/reporting-api-v1/metadata/get_meta."
      required: true
      schema:
        type: string
    get:
      operationId: GET_report-meta
      summary: Report Meta
      tags:
      - Metadata
      description: '{% admonition type="danger" name="This API is deprecated and will be removed in July 2026" %}

        The new API docs can be found here: https://apidocs.mediamath.com/apis/reporting-api

        {% /admonition %}


        The examples used in this section are truncated versions of .

        The use of "..." in an example is meant to indicate truncation of other properties. The Definition section of this endpoint provides information

        about how the metadata may vary from report to report. The Definition section of the

        provides a reference to the query string parameters that it accepts.'
      parameters:
      - $ref: '#/components/parameters/trait_cookieAuth_Cookie'
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/full-report-description'
components:
  schemas:
    brief-report-description:
      title: Brief Report Description
      type: object
      properties:
        Name:
          type: string
          description: This is the human-readable name of the report.  It is not recognized by any API input.
        Version:
          type: integer
          description: This is the version of the report.  See the <https://apidocs.mediamath.com/apis/reporting-api-v1/metadata/get_report-meta> section for more details.
        Description:
          type: string
        URI_Data:
          type: string
          format: uri
          description: This is the URI for the report's <https://apidocs.mediamath.com/apis/reporting-api-v1/data-retrieval/get_report> endpoint.
        URI_Meta:
          type: string
          format: uri
          description: This is the URI for the report's <https://apidocs.mediamath.com/apis/reporting-api-v1/metadata/get_report-meta>.
        Transition:
          type: object
          description: Reports may change over time.  This object will be present if the report will undergo a breaking change.  See the <https://apidocs.mediamath.com/apis/reporting-api-v1/metadata/get_report-meta> section for more details.
          properties:
            replaced_by:
              type: string
              format: uri
              description: The URL where the metadata for the next version of the report may be found.
            transition_date:
              type: string
              format: date-time
              description: After this GMT time the current version of the report will no longer be available.
            next_version:
              type: integer
              description: The version replacing the current version of the report.
          required:
          - replaced_by
          - transition_date
          - next_version
        Deprecation:
          type: object
          description: Reports may be deprecated all together, or superseded by another report.  This object will be present if the report is scheduled for deprecation.   See the <https://apidocs.mediamath.com/apis/reporting-api-v1/metadata/get_report-meta> section for more details.
          properties:
            superseded_by:
              type: string
              format: uri
              description: Optionally provides the metadata URI for the superseding report.
            deprecation_date:
              type: string
              format: date-time
              description: The GMT time when the report will no longer be available.  When a report is past its `deprecation_date` it will no longer appear in the <https://apidocs.mediamath.com/apis/reporting-api-v1/metadata/get_report-meta>.  All endpoints having to do specifically with that report will return a 410 GONE response.
          required:
          - deprecation_date
      required:
      - Name
      - Version
      - URI_Data
      - URI_Meta
      x-stoplight:
        id: k6iyargwoudhr
    field-description:
      title: Field Description
      type: object
      properties:
        name:
          type: string
          description: This is the human-readable name of the field.
        type:
          type: string
          enum:
          - float
          - money
          - percent
          - ratio
          - integer
          - count
          - rank
          - datetime
          - string
          - interval
          - id
          - bool
          - boolean
        access:
          type: boolean
          description: This property is applicable to dimension fields only.  Every request must have at least one filter or having predicate against a field with this property set.
        description:
          type: string
        maxLength:
          type: number
          description: This property describes the allowable length for string-typed fields.
        values:
          type: array
          description: Enumerates the possible values that this field may represent.  When using an equality predicate, all predicate values must match one of the enumerated entries.
          items:
            type: string
      required:
      - name
      - type
      x-stoplight:
        id: ay5bipqhvuzoi
    full-report-description:
      title: Full Report Description
      allOf:
      - $ref: '#/components/schemas/brief-report-description'
      - type: object
        properties:
          Type:
            type: string
          currency:
            type: string
            description: 'Provides information about the currency of the `metrics` fields typed as "money".


              When set to "campaign currency", the currency varies from record to record.  To determine the currency for a particular record, the campaign_currency_code `dimensions` field should be requested, if available for the report.


              Any other value should be taken to be the currency for all records of the report.'
          data_retention:
            type: string
            description: Indicates how far back data is available.  This can be a date, datetime, or time window as specified by the "time_window" and "Special Time Windows" sections of <https://apidocs.mediamath.com/apis/reporting-api-v1/section/fields>.  This property should be used very loosely.  It may not be accurate.  It is meant to give a general idea.
          default_metrics:
            type: array
            description: This is the list of metrics that will be returned if the `metrics` parameter is not specified in a call to the <https://apidocs.mediamath.com/apis/reporting-api-v1/data-retrieval/get_report>.
            items:
              type: string
          structure:
            type: object
            required:
            - time_field
            - dimensions
            - metrics
            properties:
              time_field:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/field-description'
                description: Mapping of field names seen in <https://apidocs.mediamath.com/apis/reporting-api-v1/section/fields>
              dimensions:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/field-description'
                description: Mapping of field names seen in <https://apidocs.mediamath.com/apis/reporting-api-v1/section/fields>
              metrics:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/field-description'
                description: Mapping of field names seen in <https://apidocs.mediamath.com/apis/reporting-api-v1/section/fields>
          time_aggregation:
            type: string
            description: This property indicates the finest granularity of the `time_field`.  For reports with a `time_field` of the `datetime` type, this will be "by_hour", "by_day", etc.  When the type is `interval`, this will be "various".
          time_rollups:
            type: array
            description: This property indicates the available levels of granularity for the `time_field`.  It lists the valid values of the `time_rollup` parameter used for the <https://apidocs.mediamath.com/apis/reporting-api-v1/data-retrieval/get_report> endpoint.  For reports with a `time_field` of the `datetime` type, this tends to be a combination of "by_hour", "by_day", "by_week", "by_month", "all", etc.  When the type is `interval`, this will only include "all".
            items:
              type: string
          time_windows:
            type: array
            description: Lists the acceptable formats for the `time_window` parameter used by the <https://apidocs.mediamath.com/apis/reporting-api-v1/data-retrieval/get_report>.  Some values may be used as is, others may need to be modified.  For details see the time_window section of  <https://apidocs.mediamath.com/apis/reporting-api-v1/section/fields>.
            items:
              type: string
          timezone:
            type: string
            description: 'Provides information about the timezone of the `time_field` for the report.


              When set to "campaign timezone", the timezone varies from record to record.  To determine the currency for a particular record, the campaign_timezone `dimensions` field should be requested, if available for the report.


              Any other value should be taken to be the timezone for all records of the report.'
        required:
        - default_metrics
        - structure
        - time_rollups
        - time_windows
      x-stoplight:
        id: 8plabb85jgk95
    reports-list:
      title: Reports List
      type: object
      properties:
        reports:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/brief-report-description'
          description: This is a mapping of report names to <https://apidocs.mediamath.com/apis/reporting-api-v1/metadata/get_report-meta>.
      x-stoplight:
        id: dnol54v50tvke
  parameters:
    trait_cookieAuth_Cookie:
      name: Cookie
      description: _
      in: header
      required: true
      schema:
        type: string
        default: adama_session=<<sessionid>>
  securitySchemes:
    API_Key_-_1:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.mediamath.com/oauth/token
          scopes: {}
x-stoplight:
  id: bmaieg1p7ctvh
