openapi: 3.0.0
info:
  title: Campaigns Ad Servers Vendors API
  description: 'MediaMath Campaign Management API


    [Postman Collection](https://apidocs.mediamath.com/guides/postman-collections)

    '
  version: 3.0.1807
  contact:
    url: https://support.infillion.com/
servers:
- url: https://api.mediamath.com/api/v3.0
  description: Live Server
security:
- Auth0:
  - offline_access
  - manage:services
tags:
- name: Vendors
  description: Vendors
paths:
  /vendors:
    get:
      operationId: list-vendors
      summary: List Vendors
      description: Get a list of vendors. The data fetched for each vendor depends on the values of query params. For example, if you use query parameter `full` all properties are fetched.
      tags:
      - Vendors
      parameters:
      - $ref: '#/components/parameters/page_limit'
      - $ref: '#/components/parameters/page_offset'
      - $ref: '#/components/parameters/sort_by'
      - $ref: '#/components/parameters/q'
      - $ref: '#/components/parameters/full'
      - name: detect_domains
        in: query
        description: 'When enabled, only vendors with ''detect_domains'' value will be returned.

          Accepts either **`1`** or **`true`**.

          '
        required: false
        schema:
          type: string
          enum:
          - '1'
          - 'true'
        example: 'true'
      responses:
        '200':
          description: List vendors response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/vendor_collection'
                - $ref: '#/components/schemas/vendor_collection_full'
        '400':
          $ref: '#/components/responses/error'
        '401':
          $ref: '#/components/responses/error'
        '403':
          $ref: '#/components/responses/error'
  /vendors/{vendor_id}:
    get:
      operationId: get-vendor
      summary: Get a Vendor
      description: Get a vendor by ID
      tags:
      - Vendors
      responses:
        '200':
          description: Vendor response
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/vendor_base'
                  meta:
                    $ref: '#/components/schemas/single_metadata'
        '400':
          $ref: '#/components/responses/error'
        '401':
          $ref: '#/components/responses/error'
        '403':
          $ref: '#/components/responses/error'
        '404':
          $ref: '#/components/responses/error'
      parameters:
      - schema:
          type: integer
        name: vendor_id
        in: path
        required: true
        description: Numeric ID of the vendor to get
components:
  schemas:
    error_response:
      title: error response
      type: object
      required:
      - errors
      - meta
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              field:
                description: Optional when it is a schema error
                type: string
              message:
                type: string
        meta:
          type: object
          required:
          - status
          properties:
            status:
              type: string
    single_metadata:
      title: single_metadata
      type: object
      properties:
        status:
          type: string
          example: success
      required:
      - status
    vendor_collection_full:
      type: object
      title: vendor_collection_full
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/vendor_base'
        meta:
          $ref: '#/components/schemas/list_metadata'
    vendor_base:
      title: vendor
      type: object
      properties:
        id:
          type: integer
        version:
          type: integer
        name:
          type: string
        adx_approved:
          type: boolean
        adx_declaration_required:
          type: boolean
        adx_vendor_identifier:
          type: string
          maxLength: 16
        mm_contract_available:
          type: boolean
        rate_card_price:
          type: number
          format: double
          maximum: 999999999.9999
        rate_card_type:
          type: string
          enum:
          - CPM
          - FIXED
        wholesale_price:
          type: number
          format: double
          maximum: 999999999.9999
        is_eligible:
          type: boolean
        created_on:
          type: string
          format: date-time
          readOnly: true
          nullable: true
        updated_on:
          type: string
          format: date-time
          readOnly: true
          nullable: true
        description:
          type: string
          maxLength: 4096
        vendor_type:
          type: string
          enum:
          - AD_SERVER
          - AD_VERIFICATION
          - AUDIENCE_VERIFICATION
          - CONTEXTUAL
          - DATA
          - DSP
          - DYNAMIC_CREATIVE
          - MEASUREMENT
          - NETWORK
          - OBA_COMPLIANCE
          - OTHER
          - PIXEL_TRACKING
          - RICH_MEDIA
          - SURVEY
          - VIEWABILITY
          - VIEWABILITY_BYO_DISPLAY
          - VIEWABILITY_BYO_VIDEO
        code:
          type: string
          maxLength: 64
        adx_ssl_approved:
          type: boolean
        adx_video_ssl_approved:
          type: boolean
        adx_video_approved:
          type: boolean
        auto_tag_display:
          type: boolean
        provider_tax:
          type: number
          format: double
          maximum: 999999.999999
        set_by:
          type: string
    vendor_collection:
      type: object
      title: vendor_collection
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
        meta:
          $ref: '#/components/schemas/list_metadata'
    list_metadata:
      title: pagination metadata
      type: object
      properties:
        status:
          type: string
          example: success
          description: The status of the response, indicating success or failure.
        count:
          type: integer
          example: 10
          description: The number of items returned in the current response.
        total_count:
          type: integer
          example: 100
          description: The total number of items available in the dataset.
        offset:
          type: integer
          example: 0
          description: The offset from the start of the dataset, used for pagination.
        next_page:
          type: string
          description: The URL to fetch the next page of results.
        prev_page:
          type: string
          description: The URL to fetch the previous page of results.
      required:
      - status
      - count
  parameters:
    full:
      in: query
      name: full
      schema:
        type: string
        example: '*'
      required: false
      description: 'To return all fields, set the value to `*`. For example, `full=*` will include all properties.

        '
    q:
      in: query
      name: q
      schema:
        type: string
      required: false
      description: "Query search for filtering. This parameter can be used to filter results based on various fields.\nSupported operators:\n- `==` - numeric equality or case-sensitive string identity, \n- `==(1,2,3)` - IN query (only works for integers),\n- `!=` - numeric inequality or case-sensitive string non-identity,\n- `=:` - case-insensitive match, allows substring using * wildcards,\n- `<` - less than,\n- `<=` - less than or equal to,\n- `>` - greater than,\n- `>=` - greater than or equal to.\nExamples: \n- `q=name=:{search}*` to find all results with names starting with {search}.\n- `q=status==true` to find all active entities.\n- `q=id>=1000` to find all entities with id greater than or equal to 1000.\n- `q=id==(1,2,3)` to find specific entities by ID.\n- `q=created_on>1999-02-02` or `q=created_on>1999-02-02T00:00:00Z` to find entities created later than date.\n- `q=id>5&status==true` to find all active entities with id greater than 5.\n"
    page_offset:
      in: query
      name: page_offset
      schema:
        type: integer
        minimum: 0
        maximum: 1000
        example: 0
      required: false
      description: Index of the first element in the collection to retrieve
    page_limit:
      in: query
      name: page_limit
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        example: 100
      required: false
      description: Number of elements in the collection to retrieve
    sort_by:
      in: query
      name: sort_by
      description: "The field to sort by. You can use any field name in ascending or descending order.\nFor ascending order, use the field name directly, e.g., `id`. \nFor descending order, prefix the field name with a hyphen (`-`), e.g., `-id`.\n"
      schema:
        type: string
        example: id, -id, name, -name
      required: false
  responses:
    error:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_response'
  securitySchemes:
    Auth0:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.mediamath.com/authorize
          scopes:
            offline_access: for refresh tokens
            manage:services: normal access
          tokenUrl: https://auth.mediamath.com/oauth/token
          refreshUrl: https://auth.mediamath.com/authorize?scope=offline_access
x-tagGroups:
- name: Hierarchy
  tags:
  - Advertisers
  - Agencies
  - Campaign Plans
  - Campaigns
  - Campaigns Budget Flights
  - New Strategy Plans
  - Organizations
  - Strategies
  - Strategy Parameters
  - Strategy Templates
- name: Targeting
  tags:
  - Segment Groups
  - Targeting
  - Targeting Attachments
  - Targeting Segment Objectives
  - Targeting Segments
- name: Creatives
  tags:
  - Atomic Creatives
  - Concepts
  - Creatives
  - Pixel Bundles
  - Pixel Providers
- name: Vendors & Contracts
  tags:
  - Audience Vendors
  - Contracts
  - Marketplaces
  - Vendor Contracts
  - Vendors
- name: Users & Access
  tags:
  - Enterprise Controls
  - User Permissions
  - Users
- name: Reference Data
  tags:
  - Ad Servers
  - Currency Rates
  - General
  - Sidekick Usage Logs
  - Site Lists
  - Supply Sources
  - Timezones
  - Verticals
